.file-icon-after-efects {
  background-image: url(../../../assets/imgs/attach/ai.png) 0 0 no-repeat;
}

.file-icon-ai {
  background-image: url(../../../assets/imgs/attach/ai.png) 0 0 no-repeat;
}

.file-icon-audition {
  background: url(../../../assets/imgs/attach/audition.png) 0 0 no-repeat;
}

.file-icon-avi {
  background: url(../../../assets/imgs/attach/ai.png) 0 0 no-repeat;
}

.file-icon-bridge {
  background: url(../../../assets/imgs/attach/bridge.png) 0 0 no-repeat;
}

.file-icon-css {
  background: url(../../../assets/imgs/attach/css.png) 0 0 no-repeat;
}

.file-icon-csv {
  background: url(../../../assets/imgs/attach/csv.png) 0 0 no-repeat;
}

.file-icon-dbf {
  background: url(../../../assets/imgs/attach/dbf.png) 0 0 no-repeat;
}

.file-icon-doc {
  background: url(../../../assets/imgs/attach/doc.png) 0 0 no-repeat;
}

.file-icon-dreamweaver {
  background: url(../../../assets/imgs/attach/dreamweaver.png) 0 0 no-repeat;
}

.file-icon-dwg {
  background: url(../../../assets/imgs/attach/dwg.png) 0 0 no-repeat;
}

.file-icon-exe {
  background: url(../../../assets/imgs/attach/exe.png) 0 0 no-repeat;
}

.file-icon-file {
  background: url(../../../assets/imgs/attach/file.png) 0 0 no-repeat;
}

.file-icon-fireworks {
  background: url(../../../assets/imgs/attach/fireworks.png) 0 0 no-repeat;
}

.file-icon-fla {
  background: url(../../../assets/imgs/attach/fla.png) 0 0 no-repeat;
}

.file-icon-flash {
  background: url(../../../assets/imgs/attach/flash.png) 0 0 no-repeat;
}

.file-icon-html {
  background: url(../../../assets/imgs/attach/html.png) 0 0 no-repeat;
}

.file-icon-indesign {
  background: url(../../../assets/imgs/attach/indesign.png) 0 0 no-repeat;
}

.file-icon-iso {
  background: url(../../../assets/imgs/attach/iso.png) 0 0 no-repeat;
}

.file-icon-javascript {
  background: url(../../../assets/imgs/attach/javascript.png) 0 0 no-repeat;
}

.file-icon-jpg {
  background: url(../../../assets/imgs/attach/jpg.png) 0 0 no-repeat;
}

.file-icon-json-file {
  background: url(../../../assets/imgs/attach/json-file.png) 0 0 no-repeat;
}

.file-icon-mp3 {
  background: url(../../../assets/imgs/attach/mp3.png) 0 0 no-repeat;
}

.file-icon-mp4 {
  background: url(../../../assets/imgs/attach/mp4.png) 0 0 no-repeat;
}

.file-icon-pdf {
  background: url(../../../assets/imgs/attach/pdf.png) 0 0 no-repeat;
}

.file-icon-photoshop {
  background: url(../../../assets/imgs/attach/photoshop.png) 0 0 no-repeat;
}

.file-icon-png {
  background: url(../../../assets/imgs/attach/png.png) 0 0 no-repeat;
}

.file-icon-ppt {
  background: url(../../../assets/imgs/attach/ppt.png) 0 0 no-repeat;
}

.file-icon-prelude {
  background: url(../../../assets/imgs/attach/prelude.png) 0 0 no-repeat;
}

.file-icon-premiere {
  background: url(../../../assets/imgs/attach/premiere.png) 0 0 no-repeat;
}

.file-icon-psd {
  background: url(../../../assets/imgs/attach/psd.png) 0 0 no-repeat;
}

.file-icon-rtf {
  background: url(../../../assets/imgs/attach/rtf.png) 0 0 no-repeat;
}

.file-icon-search {
  background: url(../../../assets/imgs/attach/search.png) 0 0 no-repeat;
}

.file-icon-svg {
  background: url(../../../assets/imgs/attach/svg.png) 0 0 no-repeat;
}

.file-icon-txt {
  background: url(../../../assets/imgs/attach/txt.png) 0 0 no-repeat;
}

.file-icon-xls {
  background: url(../../../assets/imgs/attach/xls.png) 0 0 no-repeat;
}

.file-icon-xml {
  background: url(../../../assets/imgs/attach/xml.png) 0 0 no-repeat;
}

.file-icon-zip {
  background: url(../../../assets/imgs/attach/zip.png) 0 0 no-repeat;
}

.file-icon-zip-1 {
  background: url(../../../assets/imgs/attach/zip-1.png) 0 0 no-repeat;
}

.file-icon-default {
  background: url(../../../assets/imgs/attach/file.png) 0 0 no-repeat;
}
