<ion-header class="ion-main-content-padding header-with-icon ion-no-border">
    <ion-toolbar>
        <ion-buttons left>
            <ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-avatar item-start>
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(conversation.image)">
        </ion-avatar>

        <span class="title-container">
            <ion-title *ngIf="!conversation.isGroup" class="chat-title">{{ conversation.receptor.dsParticipant }}</ion-title>
            <ion-title *ngIf="conversation.isGroup" (click)="goToInfo()" class="chat-title">{{ conversation.dsTitle }}</ion-title>

            <div *ngIf="conversation.lsUsersTyping && conversation.lsUsersTyping.length > 0; then typingTemplate else participantsTemplate"></div>
            <ng-template #typingTemplate>
                <ion-title (click)="goToInfo()" class="chat-subtitle">
            <span class="underTitle">
              <span *ngIf="conversation.isGroup">{{ conversation.lsUsersTyping[conversation.lsUsersTyping.length - 1].dsParticipant.replace(",","") }}</span> {{"IS_TYPING" | translate}}...
            </span>
                </ion-title>
            </ng-template>
            <ng-template #participantsTemplate>
                <ion-title (click)="goToInfo()" *ngIf="conversation.isGroup" class="chat-subtitle"><span class="underTitle">{{ conversation.groupParticipants }}</span></ion-title>
                <ion-title *ngIf="!conversation.isGroup" class="chat-subtitle"><span class="underTitle">{{conversation.receptor.stateClass | translate}}</span></ion-title>
            </ng-template>
        </span>

        <ion-buttons right class="headerButtons">
            <ion-button menuToggle *ngIf="(!conversation.isGroup && conversation.receptor.hasCommands)" class="commandBtn">
                <ion-icon name="code-slash-outline"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="menu($event)" class="menuBtn">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

        <!-- <ion-navbar [hidden]="true" *navbar></ion-navbar> -->


<!--SLIDE MENU-->
<!--<ion-menu side="right" #slideCommand [content]="mycontent"-->
          <!--*ngIf="(!conversation.isGroup && conversation.receptor.hasCommands)">-->
    <!--<ion-item-divider>{{"COMMANDS" | translate}}</ion-item-divider>-->
    <!--<ion-item *ngFor="let command of conversation.receptor.lsCommands;" menuToggle-->
              <!--(tap)="sendMessage(command.cdCommand)">-->
        <!--<ion-label>-->
            <!--<h2>{{ command.cdCommand }}</h2>-->
            <!--<p>{{ command.cdCommand }}</p>-->
        <!--</ion-label>-->
    <!--</ion-item>-->
<!--</ion-menu>-->
<!--<ion-nav #mycontent [root]="rootPage"></ion-nav>-->
<!--END SLIDE MENU-->

<ion-content (click)="hideEmojis()" class="content" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="message {{hideMessagesClass}}" #scrollContent>
        <ion-infinite-scroll *ngIf="!allMessagesLoaded" threshold="400px" (ionInfinite)="loadMoreMessages($event)" position="top">
            <ion-infinite-scroll-content loadingSpinner="bubbles"> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ol class="chat" id="messages">
            <div *ngIf="allMessagesLoaded" class="msg_no_more_msg">
                <span>{{"NO_MORE_MESSAGES_TO_LOAD" | translate}}</span>
            </div>
            <li class="nostyle" *ngFor="let message of messages; let last = last; let i = index;"
                [ngClass]="(message.cdParticipant != cdUser ? (message.cdParticipant == null ? 'server': 'other') : 'self') + ((i == 0 || (!DateOutputFormat.isSameDay(message.dtLastUpdate, messages[i-1].dtLastUpdate))) ? ' full' : '') +
                           (isNextMessageFromSameParticipant(i) ? ' sameParticipant' : '')">
                <div class="msg_day"
                     *ngIf="i == 0 || (!DateOutputFormat.isSameDay(message.dtLastUpdate, messages[i-1].dtLastUpdate))">
                    <span>{{message.dtLastUpdate | relativeDate | translate}}</span>
                </div>
                <div class="msg_day" *ngIf="message.cdParticipant == null">
                    <span>{{message.dsContent}} - {{ message.getDate() | date : 'H:mm' }}</span>
                </div>
                <div class="msg" *ngIf="message.cdParticipant != null" [class.first-msg]="!isPrevMessageFromSameParticipant(i)">
                    <div class="arrow-left"></div>
                    <p *ngIf="conversation.isGroup && message.cdParticipant != cdUser && !isPrevMessageFromSameParticipant(i)" class="participantNameInMessage"
                       [style.color]="getParticipantColor(message.cdParticipant)">
                        {{getParticipantDescription(message.cdParticipant)}}</p>
                    <div *ngIf="message.lsAnnexs && message.lsAnnexs.length > 0">
                        <div *ngFor="let annex of message.lsAnnexs">
                            <div *ngIf="annex.imagePreview != null" class="ts-download-image">
                                <div *ngIf="!annex.cdLocalPath || !annex.realPath" class="downloadFileIconContainer">
                                    <ion-icon *ngIf="!annex.downloading" name="arrow-down-outline" class="downloadFileIcons" (click)="openFile(annex, message, false)"></ion-icon>
                                    <ion-spinner *ngIf="annex.downloading" name="circles" class="downloadFileIcons loading-icon"></ion-spinner>
                                </div>
                                <img *ngIf="!annex.cdLocalPath || !annex.realPath" class="imagePreview" (click)="openFile(annex, message, false)" [src]="sanitizer.bypassSecurityTrustResourceUrl(baseUrl + annex.imagePreview)" title="{{annex.dsName}}"/>
                                <img *ngIf="annex.cdLocalPath && annex.realPath" (click)="openFile(annex, message, true)" [src]="sanitizer.bypassSecurityTrustResourceUrl(annex.realPath)" title="{{annex.dsName}}"/>
                            </div>
                            <div *ngIf="annex.imagePreview == null" (click)="openFile(annex, message, true)">
                                <div class="ts-download-image ts-image-attach {{annex.getImageRoute(this.attachService.extensionMap)}}">
                                    <div *ngIf="!annex.cdLocalPath" class="downloadFileIconContainer">
                                        <ion-icon *ngIf="!annex.downloading" name="arrow-down-outline" class="downloadFileIcons"></ion-icon>
                                        <ion-spinner *ngIf="annex.downloading" name="circles" class="downloadFileIcons loading-icon"></ion-spinner>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p [innerHtml]="message.dsContent | emoticon | link"></p>
                    <div class="ts-inputs-container" *ngIf="message.lsInputs && message.lsInputs.length > 0">
                        <ion-spinner *ngIf="processAction" name="crescent" class="downloadFileSpinner"></ion-spinner>
                        <div *ngFor="let messageInput of message.lsInputs">
                            <ion-item *ngIf="messageInput.type != 'select' && messageInput.type != 'date'">
                                <ion-label color="primary" floating>{{messageInput.label}}</ion-label>
                                <ion-input mdInput type="{{messageInput.type}}" id="{{messageInput.name}}"
                                           [(ngModel)]="messageInput.value" [readonly]="messageInput.readOnly"
                                           (ionBlur)="onBlurInput()" (ionFocus)="onFocusInput()">
                                </ion-input>
                            </ion-item>
                            <ion-item *ngIf="messageInput.type == 'date'">
                                <ion-label color="primary" floating>{{messageInput.label}}</ion-label>
                                <ion-datetime #dateTime min="2018" max="2021" displayFormat="DD/MM/YYYY"
                                              cancelText="Cancelar" doneText="Hecho" [(ngModel)]="messageInput.value"
                                              [disabled]="messageInput.readOnly" (click)="onFocusDatetime()"
                                              (ionCancel)="onBlurDatetime()"></ion-datetime>
                            </ion-item>
                            <ion-item *ngIf="messageInput.type === 'select'">
                                <ion-label color="primary" floating>{{messageInput.label}}</ion-label>
                                <ion-select [(ngModel)]="messageInput.value">
                                    <ion-select-option [value]="selectValue.key"
                                                *ngFor="let selectValue of messageInput.possibleValues">{{
                                        selectValue.description }}
                                    </ion-select-option>
                                </ion-select>
                            </ion-item>
                        </div>
                        <div class="ts-validation-msg" *ngIf="message.dsValidation">
                            {{message.dsValidation}}
                        </div>
                    </div>
                    <div id="btnGroup" class="btn-group"
                         *ngIf="(message.lsActions && message.lsActions.length > 0) || (message.lsButtons && message.lsButtons.length > 0)">
                        <div *ngIf="message.lsActions && message.lsActions.length > 0">
                            <ion-button [disabled]="processAction" *ngFor="let messageAction of message.lsActions"
                                        ion-button color="primary" title="{{messageAction.text}}"

                                        (click)="executeMessageAction(message, messageAction, $event)">
                                {{messageAction.text}}
                            </ion-button>
                        </div>
                        <div *ngIf="message.lsButtons && message.lsButtons.length > 0">
                            <ion-button *ngFor="let messageButton of message.lsButtons" ion-button color="secondary"
                                        title="{{messageButton.dsLabel}}"
                                        (click)="buttonClick(messageButton)">{{messageButton.dsLabel}}
                            </ion-button>
                        </div>
                    </div>

                    <div class="msg_details">
                        <time>{{message.getDate() | date : 'H:mm'}}</time>
                        <ion-icon *ngIf="message.cdParticipant == cdUser" name="{{message.stateClass}}" class="{{message.msgState == 'SEEN_BY_ALL' ? 'seenByAll' : ''}}"></ion-icon>
                    </div>
                </div>
                {{ last ? scrollToBottom() : '' }}
            </li>
        </ol>
        <ion-fab right *ngIf="showBackToBottomButton">
            <ion-fab-button class="back-to-bottom-btn" (click)="scrollContentToBottom(0)">
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>

<ion-footer *ngIf="!this.focusInput" no-border >
    <div id="attachedFiles" *ngIf="this.hasAttachedFiles">
        <div *ngFor="let file of attachedFiles" item-text-wrap class="attachedFile">
            <div *ngIf="file.cdState != 1; then spinner"></div>
            <ng-template #spinner>
                <ion-spinner name="circles"></ion-spinner>
            </ng-template>
            {{file.dsName}}
            <ion-icon name="close" (click)='removeAttached(file)'></ion-icon>
        </div>
    </div>

    <ion-row>
        <div class="text-section" *ngIf="!blocked">
            <ion-buttons left>
                <ion-button clear slot="icon-only" (click)="showEmojis()" *ngIf="!openEmojiPicker">
                    <i class="icon-deyel_app-smile"></i>
                </ion-button>
                <ion-button clear slot="icon-only" (click)="hideEmojisAndOpenKeyboard()" *ngIf="openEmojiPicker">
                    <ion-icon name='keypad'></ion-icon>
                </ion-button>
            </ion-buttons>
            <div #message contenteditable="true" disabled="true" class="message-box {{maxLengthClass}}"
                 (click)="onFocus()" spellcheck="true" (keyup)="keyup($event)"
                 (paste)="validateMaxLength()" id="message" data-placeholder="Escribe un mensaje"></div>
            <ion-buttons right>
                <ion-button clear slot="icon-only" class="file-action-button" (click)="openAttachOption('camera')">
                    <i class="icon-deyel_app-camara"></i>
                </ion-button>
                <ion-button clear slot="icon-only" class="file-action-button attach-action-button" (click)="openAttachOption('folder')">
                    <i class="icon-deyel_app-adjunto"></i>
                </ion-button>
            </ion-buttons>
        </div>

        <div class="send-button-section" *ngIf="!blocked">
            <ion-fab right>
                <ion-fab-button *ngIf="this.userProvider.inSync" style="{{ getFabButtonStyle() }}">
                    <ion-spinner name="dots" class="spinner-dots"></ion-spinner>
                </ion-fab-button>
                <ion-fab-button id="send-button" (click)="sendMessage()" *ngIf="!this.userProvider.inSync" style="{{ getFabButtonStyle() }}">
                    <i class="icon-deyel_app-enviar" (mousedown)="$event.preventDefault();"></i>
                </ion-fab-button>
            </ion-fab>
        </div>
    </ion-row>

    <div class="blocked-message" *ngIf="blocked">
        {{"REMOVED_FROM_CONVERSATION_MESSAGE" | translate}}
    </div>
    <div class="emoji-picker" *ngIf="openEmojiPicker">
        <ion-segment scrollable color="primary" [(ngModel)]="currentEmojisSlide" (ionChange)="emojisSlideSelected($event)">
            <ion-segment-button value="0">
                <ion-icon name="time"></ion-icon>
            </ion-segment-button>
            <ion-segment-button *ngFor="let egroup of EMOJIS; let i = index;" value="{{(i+1)}}">
                {{egroup.icon}}
            </ion-segment-button>
        </ion-segment>
        <ion-slides class="emojis-slides-container" (ionSlideDidChange)="emojisSlideChanged()" [options]="initialEmojisSlide">
            <ion-slide>
                <div class="emojis-slide">
                    <span *ngFor="let emoji of userEmojis" class="emoji"
                          (click)="addEmoji(emoji, false)">{{emoji[0]}}</span>
                </div>
            </ion-slide>
            <ion-slide *ngFor="let egroup of EMOJIS; let i = index;">
                <div class="emojis-slide" *ngIf="(i == currentEmojisSlide-1)">
                    <span *ngFor="let emoji of egroup.emojis" class="emoji"
                          (click)="addEmoji(emoji)">{{emoji[0]}}</span>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</ion-footer>
