@import "attach-icons.scss";

ion-toolbar {

  ion-buttons:first-child {
    padding-top: 0.125rem;
  }

  ion-icon {
    color: var(--ion-color-grey-5);
  }

  ion-avatar{
    height: auto;
    width: auto;
    position: absolute;
    display: inline-flex;
    margin-right: 0.625rem;
    margin-left: 0.313rem;
  }

  ion-title{
    padding: 0rem;
  }

  .commandBtn {
    font-size: 0.875rem;
    width: 2rem;
  }

  .menuBtn {
    font-size: 0.875rem;
    margin-right: 0rem;
  }
}

ion-item {
  border-bottom: 0rem !important;
}

.chat-subtitle {
  position: relative;
  font-size: 0.75rem;
  color: var(--ion-color-grey-5);
  top: 0.5rem;
  padding: 0rem;
  width: inherit;
}

.title-container {
  padding-left: 3.438rem;
  position: absolute;
  top: 0rem;
  width: 100%;
  padding-right: 5.625rem;
}

ion-content {
  --background: transparent;
}

li.nostyle {
  list-style-type: none;
}

ion-avatar img {
  height: 2.5rem !important;
  width: 2.5rem !important;
}

.message {
  padding: 0rem 0.813rem;

  #messages {
    margin: 0rem;
    padding: 0rem;
  }

  .msg_day span {
    padding: 0.5rem;
    background: var(--ion-color-grey-3);
    border-radius: 0.375rem;
    color: var(--ion-color-grey-5);
    line-height: 1.5rem;
  }

  .msg_day {
    font-size: 0.875rem;
    text-align: center;
    padding: 0.5rem 0rem 1rem 0rem;
  }

  #messages li {
    margin-bottom: 0.5rem;
    display: flow-root;

    &.sameParticipant {
      margin-bottom: 0.1875rem;
    }

    &.full {
      margin-top: 0.5rem;
    }
  }

  .msg p {
    margin: 0rem;
    font-size: 0.9375rem;
    color: var(--ion-color-grey-6);
  }

  .msg_details time {
    color: var(--ion-color-grey-4);
    font-size: 0.6875rem;
  }

  .msg_details {
    text-align: end;
  }

  .msg .participantNameInMessage {
    font-size: 0.875rem !important;
    margin-bottom: 0.25rem !important;
  }

  .msg {
    max-width: 85%;
    background: white;
    border-radius: 0.375rem;
    box-shadow: 0rem 0rem 0.1875rem var(--ion-color-shadow);
    padding: 0.5rem 0.625rem;
    float: left;
  }

  li.nostyle.self .msg {
    background: var(--ion-color-theme-background-msg);
    float: right;
  }

  .msg_details ion-icon {
    font-size: 0.875rem;
    position: relative;
    top: 0.1875rem;
    left: 0.1875rem;

    &.seenByAll{
      color: var(--ion-color-secondary);
    }
  }

  .first-msg {
    position: relative;
  }

  li.nostyle.other .first-msg:before {
    content: " ";
    position: absolute;
    left: -0.4375rem;
    top: 0rem;
    bottom: auto;
    border: 0.625rem solid;
    border-color: var(--ion-color-white) transparent transparent transparent;
  }

  li.nostyle.self .first-msg:after {
    content: " ";
    position: absolute;
    right: -0.4375rem;
    top: 0rem;
    bottom: auto;
    border: 0.625rem solid;
    border-color: var(--ion-color-theme-background-msg) transparent transparent transparent;
  }

  .back-to-bottom-btn {
    position: fixed;
    border-radius: 50%;
    width: 2.188rem;
    height: 2.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 4.063rem;
    z-index: 999;
    right: 0;
    margin-right: 0.813rem;

    ion-icon {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

}

.hideonscrolldown, .hideonscrollup, #scroll_btn {
  transform: scale(0);
  transition: all ease 300ms;
  ion-icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ion-footer {

  ion-row {
    padding: 0rem 0.8125rem 0.8125rem 0.8125rem;
  }

  .text-section {
    display: flex;
    position: relative;
    width: calc(100% - 3rem);
    height: 2.5rem;
    border-radius: 3.125rem;
    box-shadow: 0 0 0.1875rem var(--ion-color-shadow);
    background: var(--ion-color-white);

    div {
      flex: 1;
      border: 0;
      resize: none;
      max-height: 12.5rem;
      transition: all linear 300ms !important;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    button {
      icon-deyel_app-adjunto {
        padding: 1.125rem;
      }
    }
    [contentEditable=true]:empty:not(:focus):before {
      content: attr(data-placeholder);
      outline: none !important;
    }

    .message-box {
      font-size: 0.9375rem;
      color: var(--ion-color-grey-4);
      display: block;
    }

    .message-box:focus {
      outline: none !important;
      color: var(--ion-color-grey-5);
    }

    .message-box:empty:before {
      content: attr(data-placeholder);
      color: var(--ion-color-grey-4);
    }

    ion-icon, i {
      color: var(--ion-color-grey-5);
    }

    .file-action-button {
      width: 1.25rem;
    }

    .attach-action-button {
      margin-right: 0.4375rem;
    }

  }

  .send-button-section {
    width: 3rem;
    height: 2.625rem;
    padding-left: 0.625rem;

    .button {
      margin: 0;
      height: 2.625rem;
      width: 2.625rem;
      border-radius: 100%;
      top: 0;
      right: 0;
    }

    ion-icon, i {
      width: 1.125rem;
      height: 1.125rem;
      padding-top: 0.125rem;
      padding-left: 0.125rem;
    }

  }

  i {
    font-size: 1rem;
    height: 1.25rem;
    width: 1.25rem;
    padding-top: 0.25rem;
  }

  .buttons_area {
    display: flex;
    .button {
      flex: 1;
      margin: 0;
    }
  }

  /*#attachedFiles{
    padding: 0rem 0.8125rem 0rem 0.8125rem;

    .item-native {
      padding: 0px;
      background: transparent;

      .item-inner
      padding: 0px !important;
      border: none;

      .ion-list
      background: transparent;

      .ion-item
      font-size: 14px;
      margin-bottom: 3px;

      .ion-icon
      position: absolute;
      right: 18px;
      font-size: 18px;*/

  #attachedFiles {
    padding: 0rem 0.8125rem 0rem 0.8125rem;

    .attachedFile{
      margin-bottom: 0.188rem;
      font-size: 0.875rem;
      background: white;
      border-radius: 1.25rem;
      padding: 0.625rem;
    }

    ion-icon, i {
      float: right;
      font-size: 1.125rem;
    }

    ion-spinner{
      float: left;
      top: -0.375rem;
      left: -0.188rem;
    }

  }

  &.footer-md::before {
    background-image: none;
    height: 0;
  }

  ion-fab-button {
    height: 2.625rem;
    width: 2.625rem;
  }

}

.ts-download-image {
  cursor: pointer;
  border-radius: 20%;
  text-align: center;
  width: 12.5rem;
  height: 12.5rem;
  display: inline-flex;
  margin: 0.0625rem;
  position: relative;

  .downloadFileIconContainer {
    background: var(--ion-color-theme-primary);
    position: absolute;
    margin-top: 40%;
    margin-left: 40%;
    height: 2.5rem;
    width: 2.5rem;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 0 0.1875rem var(--ion-color-shadow);


    .downloadFileIcons {
      color: var(--ion-color-white);
      padding: 0.75rem 0.625rem 0.625rem 0.625rem;
    }

    .loading-icon {
      top: 0.1875rem;
    }

  }

  .downloadFileIconContainer ion-spinner {
    height: 2.188rem;
    width: 2.188rem;
  }

  img {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
  }

  .imagePreview {
    filter: blur(0.1875rem);
  }

}

.ts-image-attach {
  background-repeat: round;
}

.ts-i1rems-container {
  width: 100%;
  margin-top: 0.625rem;
  div {
    width: 100%;
  }
  ion-item {
    background-color: transparent;
  }
  ion-spinner {
    position: absolute;
    margin-top: 20%;
    margin-left: 38%;
    width: 3.125rem !important;
    height: 3.125rem !important;
  }
}

.headerButtons {
  float: right;
  margin-top: 0.25rem;
}

.chat-title {
  width: inherit;
  padding: 0rem;
}

.underTitle {
  font-size: 0.75rem !important;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participantNameInMessage {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.hide {
  display: none;
}

.show {
  -webkit-animation: fadein 1s;
}

.maxLength {
  color: #FF0000;
}

.blocked-message {
  text-align: center;
  vertical-align: middle;
  line-height: 2.5rem;
  font-weight: bolder;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.375rem !important;
  padding: 0rem 0.25rem;
}

.emoji-picker {
  font-size: 1.563rem;
  padding: 0.25rem;
  min-height: 13.75rem;
  max-height: 13.75rem;
  background: #ffffff;

  .emojis-slide {
    display: block;
    margin: 0rem;
    margin-left: -0.625rem;
    padding: 0rem;
    padding-bottom: 0.9375rem;
    height: 11.25rem;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .emoji {
    font-size: 1.375rem;
    width: 1rem !important;
    height: 1rem !important;
    margin: 0.625rem !important;
    display: inline-block !important;
  }
}

#message {
  padding-top: 0.75rem;
  font-size: 1rem;
}
.spinner {
  margin-left: 0rem;
  width: 1rem !important;
  height: 1rem !important;
}

.ts-validation-msg {
  font-weight: bold;
  margin: 0.3125rem 0rem 0.3125rem 0rem;
  color: red;
  text-align: center;
}

.msg_no_more_msg {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 0.5rem 0 1rem 0;

  span {
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--ion-color-grey-5);
    background: var(--ion-color-grey-3);
  }

}

.ios {
  ion-toolbar{
    ion-title{
      position: relative !important;
      padding-left: 0 !important;
    }
    ion-buttons:first-child {
      margin-top: 0.25rem !important;
      display: inline-block !important;
    }
  }
  .header-with-icon ion-buttons ion-title{
    display: inline-block !important;
  }
  .title-container {
    top: unset;
  }
  .emoji-picker .emojis-slide{
    padding-left: 1.1rem;
    text-align: left;
    .emoji{
      display: inline-flex !important;
    }
  }

  #message {
    padding-top: 0.438rem !important;
  }

}
