@font-face {
  font-family: 'deyel_font';
  src:  url('fonts/deyel_font.eot?vbefsf');
  src:  url('fonts/deyel_font.eot?vbefsf#iefix') format('embedded-opentype'),
    url('fonts/deyel_font.ttf?vbefsf') format('truetype'),
    url('fonts/deyel_font.woff?vbefsf') format('woff'),
    url('fonts/deyel_font.svg?vbefsf#deyel_font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'deyel_font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deyel_app-adjunto:before {
  content: "\e959";
}
.icon-deyel_app-adm-archivos:before {
  content: "\e95a";
}
.icon-deyel_app-camara:before {
  content: "\e95b";
}
.icon-deyel_app-enviar:before {
  content: "\e95c";
}
.icon-deyel_app-home:before {
  content: "\e95d";
}
.icon-deyel_app-smile:before {
  content: "\e95e";
}
.icon-deyel_app-tareas:before {
  content: "\e95f";
}
.icon-deyel_conexion:before {
  content: "\e958";
}
.icon-deyel_nube-blanca:before {
  content: "\e956";
}
.icon-deyel_nube:before {
  content: "\e957";
}
.icon-deyel_varita:before {
  content: "\e955";
}
.icon-deyel_atributo:before {
  content: "\e954";
}
.icon-deyel_desplegado:before {
  content: "\e952";
}
.icon-deyel_modifica:before {
  content: "\e953";
}
.icon-deyel_exportar:before {
  content: "\e950";
}
.icon-deyel_importar:before {
  content: "\e951";
}
.icon-deyel_entrada_salida:before {
  content: "\e94d";
}
.icon-deyel_salida:before {
  content: "\e94e";
}
.icon-deyel_entrada:before {
  content: "\e94f";
}
.icon-deyel_widget:before {
  content: "\e94b";
}
.icon-deyel_dashboard:before {
  content: "\e94c";
}
.icon-deyel_exclamacion:before {
  content: "\e948";
}
.icon-deyel_exclamacion_lineal:before {
  content: "\e949";
}
.icon-deyel_info:before {
  content: "\e94a";
}
.icon-deyel_reglas_obligatorio_v:before {
  content: "\e947";
}
.icon-deyel_pata_lineas:before {
  content: "\e941";
}
.icon-deyel_tedis:before {
  content: "\e942";
}
.icon-deyel_modeladores:before {
  content: "\e943";
}
.icon-deyel_portal:before {
  content: "\e944";
}
.icon-deyel_workflow:before {
  content: "\e945";
}
.icon-deyel_configuracion:before {
  content: "\e946";
}
.icon-deyel_user:before {
  content: "\e940";
}
.icon-deyel_bot:before {
  content: "\e936";
}
.icon-deyel_iot:before {
  content: "\e937";
}
.icon-deyel_reglas_calculo:before {
  content: "\e938";
}
.icon-deyel_reglas_editable_v:before {
  content: "\e939";
}
.icon-deyel_reglas_no_visible:before {
  content: "\e93a";
}
.icon-deyel_reglas_noeditable_v:before {
  content: "\e93b";
}
.icon-deyel_reglas_obligatorio:before {
  content: "\e93c";
}
.icon-deyel_reglas_validaciones:before {
  content: "\e93d";
}
.icon-deyel_reglas_visible:before {
  content: "\e93e";
}
.icon-deyel_reglas_visible_v:before {
  content: "\e93f";
}
.icon-deyel_checkbox_activado:before {
  content: "\e933";
}
.icon-deyel_checkbox_activado_full:before {
  content: "\e934";
}
.icon-deyel_checkbox_desactivado:before {
  content: "\e935";
}
.icon-deyel_soluciones:before {
  content: "\e932";
}
.icon-deyel_mp_componente:before {
  content: "\e92c";
}
.icon-deyel_mp_crear:before {
  content: "\e92d";
}
.icon-deyel_mp_file:before {
  content: "\e92e";
}
.icon-deyel_mp_file2:before {
  content: "\e92f";
}
.icon-deyel_mp_mail:before {
  content: "\e930";
}
.icon-deyel_mp_volver:before {
  content: "\e931";
}
.icon-deyel_compartir:before {
  content: "\e92b";
}
.icon-deyel_testear:before {
  content: "\e92a";
}
.icon-deyel_escoba:before {
  content: "\e928";
}
.icon-deyel_candado_abierto:before {
  content: "\e929";
}
.icon-deyel_form_agiles:before {
  content: "\e927";
}
.icon-deyel_importar_formulario:before {
  content: "\e925";
}
.icon-deyel_importar_proceso:before {
  content: "\e926";
}
.icon-deyel_mas:before {
  content: "\e923";
}
.icon-deyel_ordenar_botones:before {
  content: "\e924";
}
.icon-deyel_adjunto_input:before {
  content: "\e922";
}
.icon-deyel_invitar_usuario:before {
  content: "\e921";
}
.icon-deyel_lanes:before {
  content: "\e920";
}
.icon-deyel_parametrizacion:before {
  content: "\e91a";
}
.icon-deyel_candado_cerrado:before {
  content: "\e91b";
}
.icon-deyel_roles:before {
  content: "\e91c";
}
.icon-deyel_adaptador:before {
  content: "\e91d";
}
.icon-deyel_proceso_modelador:before {
  content: "\e91e";
}
.icon-deyel_carpeta:before {
  content: "\e91f";
}
.icon-deyel_caminos_paralelos:before {
  content: "\e919";
}
.icon-deyel_filtro:before {
  content: "\e918";
}
.icon-deyel_firma_digital:before {
  content: "\e912";
}
.icon-deyel_timeline:before {
  content: "\e913";
}
.icon-deyel_ayuda_formulario:before {
  content: "\e914";
}
.icon-deyel_ayuda_actividad:before {
  content: "\e915";
}
.icon-deyel_relaciones:before {
  content: "\e916";
}
.icon-deyel_mensaje:before {
  content: "\e917";
}
.icon-deyel_nuevo_mensaje:before {
  content: "\e911";
}
.icon-deyel_ejecucion:before {
  content: "\e910";
}
.icon-deyel_cuenta:before {
  content: "\e90f";
}
.icon-deyel_contacto:before {
  content: "\e90e";
}
.icon-deyel_campanas:before {
  content: "\e909";
}
.icon-deyel_notas:before {
  content: "\e90a";
}
.icon-deyel_oportunidad:before {
  content: "\e90b";
}
.icon-deyel_presupuesto:before {
  content: "\e90c";
}
.icon-deyel_tareas:before {
  content: "\e90d";
}
.icon-deyel_comando:before {
  content: "\e908";
}
.icon-deyel_proceso:before {
  content: "\e907";
}
.icon-deyel_calendario:before {
  content: "\e900";
}
.icon-deyel_filas:before {
  content: "\e901";
}
.icon-deyel_tarjetas:before {
  content: "\e902";
}
.icon-deyel_tarjetas_vista_previa:before {
  content: "\e903";
}
.icon-deyel_funcion:before {
  content: "\e904";
}
.icon-deyel_pata:before {
  content: "\e905";
}
.icon-deyel_regla:before {
  content: "\e906";
}
