<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ url }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(validateProtocol(url))" scrolling="yes" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" frameborder="0" allowfullscreen></iframe>
</ion-content>