body {
    margin: 0;
}

ion-header{
    display: flex;
    justify-content: end;
    ion-icon{
        font-size: 30px;
        color: var(--ion-color-primary);
    }
    ion-title{
        width: 90%;
    }
}
iframe {    
    height: 100vh;
    width: 100vw;
}

.ios ion-toolbar ion-title {
    padding-inline-start: 2.438rem !important;
}