<ion-toolbar [hidden]="true" *navbar></ion-toolbar>

<ion-header no-border id="tab_header">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label class="style_toolbar">
            <ion-title>{{"ADD_PARTICIPANTS_TO" | translate}} {{conversation.dsTitle}}</ion-title>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="showsSearchBar()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!--searchbar-->
<ion-header *ngIf="searchClicked" class="ion-main-content-padding header-with-icon ion-no-border">
    <ion-toolbar class="toolbar-searchbar-header">
        <ion-searchbar placeholder="{{'SEARCH' | translate}}" animated (ionChange)="searchUsers($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<!--searchbar end-->


<ion-content>
    <div *ngIf="participants == []" text-center padding>
        {{"NOT_MORE_PARTICIPANTS_TO_ADD" | translate}}
    </div>
    <ion-row class="selected-participants" *ngIf="selectedParticipants.length > 0">
        <!-- <ion-item no-lines> -->
            <ion-content scrollX="true" scroll-user class="scroll-user">
                <ion-avatar class="scroll-item" *ngFor="let participant of selectedParticipants"
                            (click)="select(participant)" id="participant_{{participant.cdParticipant}}">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)"/>
                    <div class="close">
                        <ion-icon name="close-circle"></ion-icon>
                    </div>
                    <h6>{{participant.dsParticipant.split(" ")[0]}}</h6>
                </ion-avatar>
            </ion-content>
        <!-- </ion-item> -->
        <div class="line"></div>
    </ion-row>
    <ion-list id="participants" lines="none">
        <ion-item *ngFor="let participant of participants" (click)="select(participant)"
                  [ngClass]="isSelected(participant) ? 'selected' : 'not-selected'" no-lines>
            <ion-avatar item-start>
                <div class="img-container">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)">
                </div>
                <div *ngIf="!isSelected(participant)" class="statusCircle {{participant.stateClass}}"></div>
                <ion-icon no-padding *ngIf="isSelected(participant)" id="check" name="checkmark-circle"></ion-icon>
            </ion-avatar>
            <p class="list-item-title">{{participant.dsParticipant}}</p>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px"
        (ionInfinite)="loadParticipants($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOAD_MORE_PARTICIPANTS' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="big-button" (click)="save()" [disabled]="saving" id="create-button" style="{{ getFabButtonStyle() }}">
            <ion-icon name="checkmark" class="big-icon"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
