ion-header {
  padding: 0rem !important;
  border-bottom: 0rem !important;
}

.toolbar-header {
  padding: 0 0.8125rem 0 0.8125rem !important;
}

.toolbar-searchbar-header {
  height: 3.125rem;
}

.statusCircle {
  position: absolute;
  height: 0.563rem;
  width: 0.563rem;
  top: 2.25rem;
  left: 1.688rem;
  border-radius: 100%;
  background: var(--ion-color-participant-offline);
  border: 0.063rem solid #FFF;
}

#check{
  color: var(--ion-color-theme-primary);
  width: 2.7rem;
  height: 2.7rem;
  margin-left: -0.25rem;
}

img{
  border-radius: 50%;
  width: 	2.25rem;
  height: 2.25rem;
}

ion-item:not(.ion-item-buttom) {
  height: 3.75rem !important;
  --padding-start: 0.813rem !important;
  display: inline;
}

.selected-participants {
  ion-item {
    border-bottom: 0px solid !important;
  }
}

.selected {
  --background: var(--ion-color-theme-selected-participants) !important;
  .img-container {
    position: relative;
    &:after {
      position: absolute;
      height: 1.125rem;
      width: 1.125rem;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      content: '';
      border-radius: 100%;
      animation: spin 7s infinite linear;
    }
    img {
      display: none;
    }
    .statusCircle{
      display: none;
    }
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-user {
  white-space: nowrap;
  height: 4.375rem;
  --padding-start: 0.813rem !important;
  --background: var(--ion-color-theme-selected-participants) !important;
  .scroll-item {
    display: inline-block;
    padding-right: 1.563rem;
    padding-top: 0.625rem;
    width: auto;
    ion-icon {
      position: relative;
      height: 0.75rem;
      width: 0.75rem;
      top: -0.938rem;
      right: -0.938rem;
      margin: 0.25rem;
      color: var(--ion-color-theme-primary) !important;
    }
  }
}

.selected-participants {
  margin-bottom: 0.188rem;
  border-bottom: 0px !important;
}

ion-header {
  ion-toolbar {
    ion-label, ion-buttons, ion-searchbar {
      display: inline-block;
    }
  }
}

.style_toolbar{
  padding-left: 1.438rem;
  ion-title{
    font-size: 1.188rem;
    color: var(--ion-color-grey-6);
    padding: 0px 0px !important;
    max-width: 15.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  p{
    font-size: 0.75rem;
    color: var(--ion-color-grey-5);
  }
}

.list-item-title{
  padding-left: 0.813rem !important;
}

ion-avatar{
  text-align: center;
}

h6{
  font-size: 0.688rem;
  color: var(--ion-color-grey-5);
  margin-top: -1.375rem;
  max-width: 2.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ios ion-toolbar ion-title {
  padding-inline-start: 2.438rem !important;
}