<ion-content>
    <div id="div_content">
        <div class="div_icons" id="bt_camera" (click)="close('camera')">
            <img>
            <br>Camera
        </div>
        <div id="bt_files" (click)="close('folder')">
            <img>
            <br>Files
        </div>
    </div>
</ion-content>
