ion-spinner {
  color: var(--ion-color-theme-primary);
  position: fixed;
  z-index: 999;
  height: 5em;
  width: em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ion-header {
  padding: 0rem !important;
  border-bottom: 0rem !important;
}

.toolbar-header {
  padding: 0 0.8125rem 0 0.8125rem !important;
}

.ion-list-subtitle {
  height: 1.25rem;
  font-size: 0.5625rem;
  padding: 0.5rem 0.8125rem 0 0.8125rem;

  ion-label {
    color: var(--ion-color-grey-5);
  }

}

ion-list {
  padding: 0;

  ion-item {
    height: 2.5rem;

    .icon-list {
      font-size: 1rem;
      color: var(--ion-color-theme-secondary);
      width: 1 rem;
    }

    .label-action-name {
      padding: 0 0 0 0.625rem !important;
      font-size: 0.875rem;
      color: var(--ion-color-grey-6);
    }

    .label-action-name:first-child {
      padding: 0 0 0 1.813rem !important;
    }

    .label-others-action-name {
      margin-left: 0.0625rem;
      padding: 0 0 0 1.188rem !important;
    }

    .label-others-action-name:first-child {
      padding: 0 0 0 1.813rem !important;
    }

  }

}

.empty-task-container {
  text-align: center;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 30%;
  margin: 0rem 0.8125rem 0rem 0.8125rem;
  display: grid;
}

.empty-img-container {
  width: 100%;
  padding-bottom: 0.4375rem;
  margin-bottom: 0.25rem;
}

.ops-label {
  color: var(--ion-color-grey-5);
}

.empty-task-label {
  color: var(--ion-color-grey-4);
}

.ios{
  ion-toolbar{
    margin-bottom: 0 !important;
    .searchbar-search-icon{
      top: 0 !important;
    }
  }
  .toolbar-searchbar-header{
    margin-top: 0 !important;
  }
}