<ion-header class="ion-main-content-padding header-with-icon ion-no-borde ion-header-main">
    <ion-toolbar class="toolbar-header">
        <ion-buttons left>
            <ion-button icon-only (click)="goToBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" right>
            <ion-button icon-only (click)="loadActionList()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'ACTIONS' | translate}}</ion-title>
    </ion-toolbar>
    <ion-toolbar class="toolbar-searchbar-header">
        <ion-searchbar placeholder="{{'SEARCH' | translate}}" animated (ionChange)="searchAction($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-spinner name="circles" *ngIf="isLoading"></ion-spinner>
    <div class="scroll-content">
        <div *ngIf="mostUsedActions && mostUsedActions.length > 0">
            <div class="ion-list-subtitle">
                <ion-label>{{'MOST_USED' | translate}}</ion-label>
            </div>
            <ion-list>
                <ion-item button *ngFor="let action of mostUsedActions | filterAction: filteredText; let index = index" class="ion-activatable"
                          (click)="openAction(action)">
                    <ion-icon *ngIf="index === 0" name="star-outline" class="icon-list"></ion-icon>
                    <ion-label class="label-action-name">{{ action.getName() }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="restActions && restActions.length > 0">
            <div class="ion-list-subtitle">
                <ion-label>{{'OTHERS' | translate}}</ion-label>
            </div>
            <ion-list>
                <ion-item button *ngFor="let action of restActions | filterAction: filteredText; let index = index" class="ion-activatable"
                          (click)="openAction(action)">
                    <div class="icon-list" *ngIf="index === 0 || restActions[index - 1] && action.getName()[0].toUpperCase() !== restActions[index -1].getName()[0].toUpperCase()">
                        {{ action.getName()[0].toUpperCase() }}
                    </div>
                    <ion-label class="label-action-name label-others-action-name">{{ action.getName() }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <ng-container *ngIf="mostUsedActions.length === 0 && restActions.length === 0 && !isLoading && !isServerError">
        <div class="empty-task-container">
            <div class="empty-img-container">
                <img src="/assets/imgs/ups-3.png" alt="image">
            </div>
            <ion-label class="ops-label">Ops!</ion-label>
            <ion-label class="empty-task-label" >{{ 'YOU_ACTION_LIST_IS_EMPTY' | translate }}...</ion-label>
        </div>
    </ng-container>
    <ng-container *ngIf="isServerError">
        <app-error-connection></app-error-connection>
    </ng-container>
</ion-content>
