<ion-list>
    <ion-item (click)="sendMessage(participant);" id="send-message-option">{{"SEND_MESSAGE_TO" | translate}}
        {{participant.dsParticipant}}
    </ion-item>
    <ion-item *ngIf="canEdit" (click)="remove();" id="remove-option">{{"DELETE" | translate}}</ion-item>
</ion-list>
