<ion-list>
    <!--
    <button ion-item (tap)="goToSettings()">{{"SETTINGS" | translate}}</button>
    -->
    <ion-item button (click)="signOut()">{{"SIGN_OUT" | translate}}</ion-item>
    <!-- <button ion-item (tap)="deleteChats()">Borrarchats</button> -->
</ion-list>
