<ion-header *ngIf="showHeader()" no-border id="tab_header" class="ion-main-content-padding ion-header-main">
    <ion-toolbar no-border class="toolbar-header">
        <ion-title (dblclick)="downloadLog()">{{ getContextName() }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button icon-only class="secondary-button" (click)="reloadIframe()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
            <ion-button icon-only class="secondary-button" (click)="toggleSearchBar()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="openMainMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="searchClicked" class="toolbar-searchbar-header">
        <ion-searchbar debounce="700" placeholder="{{'SEARCH' | translate}}" animated mode="md"
            (ionChange)="filterFormsAndTasks($event)">
       </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="connectionOn">
        <iframe #frame [src]="url" *ngIf="url" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation"
                class="ion-main-content-padding iframe forms-list-iframe" scrolling="yes" frameborder="0">
        </iframe>
        <ion-fab *ngIf="showFabButton()" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button id="button-plus" (click)="openActionsList()" style="{{ getFabButtonStyle() }}">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
    <ng-container *ngIf="!connectionOn">
        <app-error-connection></app-error-connection>
    </ng-container>
</ion-content>
