.forms-list-iframe {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch !important;
}

ion-buttons {
	margin-right: 0rem;
}

ion-header {
  padding: 0rem !important;
}

.toolbar-header {
  padding: 0rem 0rem 0rem 0.8125rem !important;
}

ion-toolbar {
  height: 3.5rem;

  ion-searchbar {
    --background: var(--ion-color-grey-2);
    --placeholder-color: var(--ion-color-grey-4);
    --icon-color: var(--ion-color-grey-4);
    --cancel-button-color: var(--ion-color-grey-4);
    --clear-button-color: var(--ion-color-grey-4);
    --border-radius: 0rem;
    padding: 0rem;
    --box-shadow: 0rem;
    height: 2.5rem !important;

    ion-icon {
      opacity: 0.5 !important;
      color: var(--ion-color-grey-4) !important;
      top: 0.5rem !important;
    }

    input {
      font-size: 0.875rem !important;
    }
  }
}

.toolbar-searchbar-header {
  margin-top: -0.438rem;
}
.ios{
  .toolbar-searchbar-header{
    margin-bottom: 0;
  }
} 
