<ion-list>
    <ion-item button no-lines *ngIf="conversation.isGroup" (click)="info()">{{"GROUP_INFO" | translate}}</ion-item>
    <ion-item button no-lines (click)="removeHistory()">{{"REMOVE_HISTORY" | translate}}</ion-item>
</ion-list>
