ion-title {
	padding-left: 1.438rem;
	font-size: 1.188rem;
	color: var(--ion-color-primary);
	padding: 0rem 0rem !important;
}

.iframe-view {
	width:100%;
	height:100%;
	overflow:scroll !important;
	-webkit-overflow-scrolling:touch !important;
}

.ios {
	ion-toolbar ion-title{
		padding-inline-start: 2.438rem !important;
	}
	.iframe-view {
		margin-bottom: env(safe-area-inset-bottom) !important;
	}
}
