<ion-header no-border id="tab_header">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goToBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <iframe #frame *ngIf="url" [src]="url" allow="camera" id="iframe-app"
            sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" class="iframe iframe-view"
            scrolling="yes"
            frameborder="0"></iframe>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="actions && actions.length > 0">
        <ion-fab-button class="big-button" *ngIf="actions.length === 1 && !this.userProvider.inLoadTasks && !checkShowSaveButton()"
                (click)='executeFirstAction()' style="{{ getFabButtonStyle() }}">
            <ion-icon *ngIf="actions[0].id == 'btnExe'" name="play-outline"></ion-icon>
            <ion-icon *ngIf="actions[0].id != 'btnExe'" name="checkmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="big-button" *ngIf="actions.length > 1 && !this.userProvider.inLoadTasks && !checkShowSaveButton()"
                (click)='presentAlertActions()' style="{{ getFabButtonStyle() }}">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="big-button" *ngIf="this.userProvider.inLoadTasks && !checkShowSaveButton()" style="{{ getFabButtonStyle() }}">
            <ion-spinner name="dots" class="spinner-dots"></ion-spinner>
        </ion-fab-button>

        <ion-fab-button *ngIf="checkShowSaveButton() && !this.userProvider.inLoadTasks" style="{{ getFabButtonStyle() }}">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top" *ngIf="checkShowSaveButton() && !this.userProvider.inLoadTasks">
            <ion-fab-button (click)="executeAction('execute_action', actions[0])" style="{{ getFabListButtonStyle() }}">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="executeAction('execute_action', actions[1])" style="{{ getFabListButtonStyle() }}">
                <ion-icon name="save-outline" ></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
