<ion-toolbar [hidden]="true" *navbar></ion-toolbar>

<ion-header no-border id="tab_header">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goToMain()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label class="style_toolbar">
            <ion-title>{{"SELECT_PARTICIPANTS" | translate}}</ion-title>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="showsSearchBar()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!--searchbar-->
<ion-header *ngIf="searchClicked" class="ion-main-content-padding header-with-icon ion-no-border">
    <ion-toolbar class="toolbar-searchbar-header">
        <ion-searchbar placeholder="{{'SEARCH' | translate}}" animated (ionChange)="searchUsers($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<!--searchbar end-->

<ion-content no-padding>
    <ion-row *ngIf="selectedParticipants.length > 0" style="background-color: lightblue;" class="selected-participants">
        <ion-content scrollX="true" class="scroll-user">
            <ion-avatar class="scroll-item" *ngFor="let participant of selectedParticipants"
                (click)="deselect(participant)">
                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)" />
                <div class="close">
                    <ion-icon name="close-circle"></ion-icon>
                </div>
                <h6>{{participant.dsParticipant.split(" ")[0]}}</h6>
            </ion-avatar>
        </ion-content>
    </ion-row>
    <ion-list id="participants" lines="none" no-lines class="ion-no-padding">
        <ion-item *ngIf="isSearching" text-center no-lines>
            <ion-spinner name="dots"></ion-spinner>
        </ion-item>
        <ion-item *ngFor="let participant of participants" (click)="onTap(participant)"
            [ngClass]="isSelected(participant) ? 'selected' : 'not-selected'" no-lines class="ion-no-padding"
            lines="none">
            <ion-avatar>
                <div class="img-container">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)">
                </div>
                <div *ngIf="!isSelected(participant)" class="statusCircle {{participant.stateClass}}"></div>
                <ion-icon no-padding *ngIf="isSelected(participant)" id="check" name="checkmark-circle"></ion-icon>
            </ion-avatar>
            <ion-label class="list-item-title">{{participant.dsParticipant}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px"
        (ionInfinite)="loadParticipants(participants[this.participants.length-1].dsParticipant,$event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOAD_MORE_PARTICIPANTS' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedParticipants.length > 0">
        <ion-fab-button class="big-button" (click)="openChat()" [disabled]="opening" style="{{ getFabButtonStyle() }}"
            id="new-chat-confirm-button">
            <ion-icon class="big-icon" name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
