<ion-header *ngIf="showHeader()" no-border id="tab_header" class="ion-main-content-padding ion-header-main">
    <ion-toolbar no-border>
        <ion-title (dblclick)="downloadLog()">{{ getContextName() }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button icon-only class="secondary-button" (click)="loadUrl()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="openMainMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="connectionOn">
        <div class="scroll-content">
            <iframe #iframe *ngIf="url" [src]="url" frameBorder="0" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" scrolling="yes" class="ion-main-content-padding iframe dashboard-list-iframe"></iframe>
        </div>
        <ion-fab *ngIf="showFabButton()" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button id="button-plus" (click)="openActionsList()" style="{{ getFabButtonStyle() }}">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
    <ng-container *ngIf="!connectionOn">
        <app-error-connection></app-error-connection>
    </ng-container>
</ion-content>
