<div class="access-error-container">
	<div class="access-error-img-container">
		<img src="/assets/imgs/access-error.png" alt="image">
	</div>
	<ion-label class="ops-label">Ops!</ion-label>
	<ion-label class="access-error-label" >{{ 'NOT_CONNECTION_ERROR' | translate }}</ion-label>
</div>
