.access-error-container {
  text-align: center;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 30%;
  margin: 0rem 0.8125rem 0rem 0.8125rem;
  display: grid;
}

.access-error-img-container {
  width: 100%;
  border-bottom: solid 0.0625rem var(--ion-color-grey-3);
  padding-bottom: 0.4375rem;
  margin-bottom: 0.25rem;
}

.ops-label {
  color: var(--ion-color-grey-5);
}

.access-error-label {
  color: var(--ion-color-grey-4);
}
