<ion-header *ngIf="showHeader()" no-border id="tab_header" class="ion-main-content-padding ion-header-main">
    <ion-toolbar no-border class="toolbar-header">
        <ion-title (dblclick)="downloadLog()">{{ getContextName() }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button icon-only class="secondary-button" (click)="toggleSearchBar()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="openMainMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="searchClicked" class="toolbar-searchbar-header">
        <ion-searchbar debounce="700" placeholder="{{'SEARCH' | translate}}" animated mode="md"
            (ionChange)="filterChats($event)">
       </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="this.userProvider.inSync && showSkeleton" type="indeterminate"></ion-progress-bar>
<ion-content>
    <ion-list lines=“none” *ngIf="showSkeleton">
        <ion-item *ngFor="let e of [].constructor(20);">
            <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-container *ngIf="doFilterChatsWithMessages() && doFilterChatsWithMessages().length > 0">
        <ion-list id="conversations" lines=“none” *ngIf="!this.loading">
            <ion-item *ngIf="isSearching" text-center class="ion-item-buttom">
                <ion-spinner name="dots"></ion-spinner>
            </ion-item>
            <ion-item *ngFor="let conversation of doFilterChatsWithMessages()"
                      id="conversation_{{conversation.isGroup ? conversation.cdConversation : conversation.receptor.cdParticipant}}" >
                <ion-avatar item-start>
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(conversation.image)">
                    <div *ngIf="!conversation.isGroup" class="statusCircle {{conversation.receptor.stateClass}}"></div>
                </ion-avatar>

                <div class="message" (click)="goToChat(conversation)">
                    <div class="details">
                        <p class="list-item-title ellipsis-overflow">{{ conversation && conversation.cdType == 0 ? conversation.receptor.dsParticipant :
                            conversation.dsTitle }}</p>
                        <div *ngIf="conversation.lsUsersTyping && conversation.lsUsersTyping.length > 0; then typing; else lastMessage"></div>
                        <ng-template #lastMessage>
                            <p class="list-item-subtitle ellipsis-overflow" *ngIf="conversation.lsMessages.length > 0">
                                <ion-icon
                                        *ngIf="conversation.lsMessages[conversation.lsMessages.length-1].cdParticipant == cdUser"
                                        name="{{conversation.lsMessages[conversation.lsMessages.length-1].stateClass}}"
                                        class="{{conversation.lsMessages[conversation.lsMessages.length-1].msgState == 'SEEN_BY_ALL' ? 'seenByAll' : ''}}"></ion-icon>
                                <span *ngIf="conversation.isGroup && conversation.lsMessages[conversation.lsMessages.length-1].cdParticipant != cdUser">{{getLastMessageUsername(conversation.lsMessages[conversation.lsMessages.length-1], conversation)}}</span>
                                <ion-icon
                                        *ngIf="getLastMessageFormatted(conversation.lsMessages[conversation.lsMessages.length-1])[0] !=''"
                                        name="{{getLastMessageFormatted(conversation.lsMessages[conversation.lsMessages.length-1])[0]}}"></ion-icon>
                                <span [innerHtml]="getLastMessageFormatted(conversation.lsMessages[conversation.lsMessages.length-1])[1] | emoticon"></span>
                            </p>
                        </ng-template>
                        <ng-template #typing>
                            <p class="list-item-subtitle typing">
                                <span *ngIf="conversation.isGroup">{{ conversation.lsUsersTyping[conversation.lsUsersTyping.length - 1].dsParticipant.replace(",","") }}</span>
                                {{"IS_TYPING" | translate}}...
                            </p>
                        </ng-template>
                    </div>
                    <div class="time-badge">
                        <time>{{ conversation.lsMessages.length > 0 ?
                            (conversation.lsMessages[conversation.lsMessages.length-1].dtLastUpdate | relativeDate:
                            "same-day-exact"| translate) : '&nbsp;' }}
                        </time>
                        <ion-badge class="unreaded-messages-count" *ngIf="conversation.nuUnreaded > 0" item-end>{{
                            conversation.nuUnreaded }}
                        </ion-badge>
                    </div>
                </div>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll threshold="300px"
                             (ionInfinite)="loadMoreConversations($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ng-container>
    <ng-container *ngIf="doFilterChatsWithMessages() && doFilterChatsWithMessages().length === 0">
        <div class="empty-chat-list-container">
            <div class="empty-chat-list-img-container">
                <img src="/assets/imgs/empty-chat-list.png" alt="image">
            </div>
            <ion-label class="ops-label">Ops!</ion-label>
            <ion-label class="empty-chat-list-label" >{{ 'NO_CONVERSATIONS' | translate }}</ion-label>
        </div>
    </ng-container>
    <ion-fab *ngIf="showFabButton()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button style="{{ getFabButtonStyle() }}">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button id="button-plus" (click)="openActionsList()" attr.action-name="{{ 'OPEN_ACTION' | translate }}">
                <ion-icon name="search" color="secondary"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="newChat()" id="new-chat-button" attr.action-name="{{ 'NEW_CHAT' | translate }}">
                <ion-icon name="chatbubbles-outline" color="secondary"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
