ion-item:not(.ion-item-buttom) {
  height: 4.375rem !important;
}

ion-item {
  --border-color: var(--ion-color-grey-3) !important;

  &:last-child {
    --border-color: transparent !important;
  }

  ion-icon {
    font-size: 0.875rem;
    position: relative;
    top: 0.188rem;
    margin-right: 0.188rem;
  }
}

ion-buttons {
  margin-right: 0rem;
}

ion-badge {
  border-radius: 50%;
  font-size: 0.688rem;
  height: 1.25rem;
  width: 1.25rem;
  padding: 0.25rem;
  text-align: center;
  margin-top: 0.563rem;
  float: right;
  background: var(--ion-color-secondary);
}

.statusCircle {
  position: absolute;
  height: 0.75rem;
  width: 0.75rem;
  top: 2.75rem;
  left: 2.313rem;
  border-radius: 100%;
  background: var(--ion-color-participant-offline);
  border: 0.0625rem solid var(--ion-color-white);
}

p.message {
  padding-top: .2em;
  display: none;
}

.message {
  width: 100%;
  position: absolute;
  padding-left: 3.938rem;
  .details {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .time-badge {
    position: absolute;
    top: 0.125rem;
    right: 0rem;
    font-size: 0.688rem;

    time {
      display: block;
      color: var(--ion-color-secondary);
    }
  }
}

.typing {
  font-style: italic;
}

ion-list {
  padding-right: 0.813rem !important;
  padding-left: 0rem !important;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.ios ion-list{
  padding-top: 0.813rem !important;
}

ion-avatar {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.813rem;
}

.list-item-subtitle {
  margin: 0.375rem 0 0 0 !important;
  height: 1.188rem;
  font-size: 0.875rem;
  overflow: hidden;
  padding-right: 3.125rem;
  color: var(--ion-color-grey-5);
}

.list-item-title {
  font-size: 0.938rem;
  margin: 0rem;
  height: 1.125rem;
  overflow: hidden;
  padding-right: 3.125rem;
  color: var(--ion-color-grey-6);
}

.ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seenByAll{
  color: var(--ion-color-secondary);
}

ion-list {
  padding-right: 0.813rem !important;
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

ion-avatar {
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.813rem;
}

.list-item-subtitle {
  margin: 0.375rem 0 0 0 !important;
  height: 1.188rem;
  font-size: 0.875rem;
  overflow: hidden;
  padding-right: 3.125rem;
  color: var(--ion-color-grey-5);
}

.list-item-title {
  font-size: 0.938rem;
  margin: 0px;
  height: 1.125rem;
  overflow: hidden;
  padding-right: 3.125rem;
  color: var(--ion-color-grey-6);
}

.ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.seenByAll{
  color: var(--ion-color-secondary);
}

ion-header {
  padding: 0rem !important;
}

.toolbar-header {
  padding: 0rem 0rem 0rem 0.8125rem !important;
}

ion-toolbar {
  height: 3.5rem;

  ion-searchbar {
    --background: var(--ion-color-grey-2);
    --placeholder-color: var(--ion-color-grey-4);
    --icon-color: var(--ion-color-grey-4);
    --cancel-button-color: var(--ion-color-grey-4);
    --clear-button-color: var(--ion-color-grey-4);
    --border-radius: 0rem;
    padding: 0rem;
    --box-shadow: 0rem;
    height: 2.5rem !important;

    ion-icon {
      opacity: 0.5 !important;
      color: var(--ion-color-grey-4) !important;
      top: 0.5rem !important;
    }

    input {
      font-size: 0.875rem !important;
    }
  }
}

.toolbar-searchbar-header {
  margin-top: -0.438rem;
}
.ios {
  .toolbar-searchbar-header{
    margin-bottom: 0;
  }
  ion-avatar{
    height: 3.4rem;
    margin-bottom: 0.4rem !important;
  }
  ion-list{
    padding-top: 0 !important;
  }
  ion-item{
    padding-top: 0.457rem;
    padding-bottom: 0.457rem;
  }
}

ion-progress-bar {
  height: 2px;
  position: absolute;
  top: 56px;
  z-index: 999;
}

.empty-chat-list-container {
  text-align: center;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 30%;
  margin: 0rem 0.8125rem 0rem 0.8125rem;
  display: grid;
}

.empty-chat-list-img-container {
  width: 100%;
  border-bottom: solid 0.0625rem var(--ion-color-grey-3);
  padding-bottom: 0.4375rem;
  margin-bottom: 0.25rem;
}

.ops-label {
  color: var(--ion-color-grey-5);
}

.empty-chat-list-label {
  color: var(--ion-color-grey-4);
}
