ion-content {
  --background: transparent linear-gradient(180deg, #2857AF33 0%, #EA1D2533 100%) 0% 0% no-repeat padding-box;

  .background-container {
    width: 100%;
    height: 100%;
  }

}

.sinisters-container {
  padding-bottom: 3.938rem;

  .last-reported {
    padding-left: 1rem;
    padding-right: 0.625rem;
    color: var(--ion-color-grey-6);
    margin-top: 0.688rem;
    margin-bottom: 0.688rem;
  }

}

.ion-header-main {
  padding: 0rem 0rem 0rem 1rem;
}

ion-card {

  margin: 0rem 1rem 0.625rem 1rem;
  border-radius: 1rem;
  background: transparent linear-gradient(126deg, #2857AF 0%, #EA1D25 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  box-shadow: 0rem 0.375rem 0.375rem #202d5d42;

  .icon-card-info {
    color: #FFFFFF0D;
    width: 6.25rem;
    height: 7.813rem;
    font-size: 10.625rem;
    top: -0.125rem;
    position: absolute;
    right: 1.813rem;
  }

  .report-date-info {
    float: right;
    position: relative;
  }

  .title-data-info {
    font: normal normal normal 1.125rem/1.375rem Roboto;
    color: #FFFFFF;
  }

  .subtitle-data-info {
    font: normal normal normal 0.813rem/1.375rem Roboto;
    color: #FFFFFF99;
  }

  .separator-degrade-line {
    background: transparent linear-gradient(90deg, #FFFFFF33 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 0.063rem;
    width: 10.75rem;
  }

  ion-card-header, ion-card-content {
    padding-left: 1.313rem;
    padding-right: 1.313rem;
  }

  ion-card-header {
    padding-top: 1.125rem;
    padding-bottom: 0rem;
    margin-bottom: 1.25rem;
    height: 4.125rem;
  }

  ion-card-content {

    ion-grid, ion-col {
      padding: 0rem;
    }

    ion-grid {

      ion-row {
        margin-top: 0.125rem;
      }

      ion-row:first-child {
        margin-top: 0rem;
      }

      .row-product-container {
        margin-top: 0.5rem;
      }

      .sinister-subtitle-col {
        color: var(--ion-color-grey-4);
      }

      .sinister-value-col {
        color: var(--ion-color-grey-6);
      }

    }

  }

}

.empty-sinisters-container {
  text-align: center;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 30%;
  margin: 0rem 0.8125rem 0rem 0.8125rem;
  display: grid;
}

.empty-img-container {
  width: 100%;
  border-bottom: solid 0.0625rem var(--ion-color-grey-3);
  padding-bottom: 0.4375rem;
  margin-bottom: 0.25rem;

  img {
    width: 11.438rem;
    height: 7.563rem;
  }

}

.ops-label {
  color: var(--ion-color-grey-6);
}

.empty-sinisters-label {
  color: var(--ion-color-grey-5);

  ion-icon {
    position: relative;
    top: 0.188rem;
  }

}

.circle-nav {

  .circle-container {
    padding: 0rem;
    text-align: center;
  }

  .circle-stage {
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    border: 0.125rem solid #FFFFFF4D;
    border-radius: 6.25rem;
    margin: 0rem 3.313rem 0rem 0rem;
    display: inline-block;
    position: relative;
  }

  .circle-stage:last-child {
    margin: 0rem;
  }

  .circle-stage::after {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: 1.75rem;
    width: 2.625rem;
    height: 0.063rem;
    background: #FFFFFF4D;
  }

  .last-circle-stage:after {
    display: none;
  }

  .circle-nav-col {
    padding-right: 0rem;
    margin-bottom: 0.625rem;
  }

  .inner-circle {
    position: absolute;
    background: #FFFFFF80 0% 0% no-repeat padding-box;
    border-radius: 50%;
    left: 0.25rem;
    top: 0.25rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  .inner-circle-disabled {
    display: none;
  }

}

.row-circle-nav {
  margin-top: 0.625rem !important;
  height: 2.188rem;
}

.label-stage-info {
  font-size: 0.625rem;
  font-family: Roboto;
  color: #FFFFFF99;
}

.col-label-stage {
  text-align: center;
}

.label-stage-info-active {
  color: #FFFFFF;
}

.ion-card-closed {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0rem 0.125rem 0.375rem #0000001A;
  border-radius: 1rem;
  opacity: 1;
  height: 5rem;

  ion-grid, ion-col {
    padding: 0rem;
  }

  ion-card-header {
    padding-left: 0.625rem;
    padding-top: 0.813rem;
  }

  .card-closed-icon-container {
    width: 3.438rem;
    height: 3.438rem;
    border-radius: 50%;
    position: relative;
  }

  .card-closed-icon-container-progress {
    width: 3.438rem;
    height: 3.438rem;
    border: 0.125rem solid #D8DADC;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
  }

  .stage-progress-reported {
    border-top-color: #EC000066;
    transform: rotate(45deg);
  }

  .stage-progress-reception {
    border-right-color: #EC000066;
    border-top-color: #EC000066;
    transform: rotate(45deg);
  }

  .stage-progress-resolution {
    border-bottom-color: #EC000066;
    border-right-color: #EC000066;
    border-top-color: #EC000066;
    transform: rotate(45deg);
  }

  .stage-progress-closed {
    border-color: #EC000066;
  }

  .icon-card-closed {
    color: #EA1D25;
    font-size: 1.875rem;
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    width: 50%;
    height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .title-card-closed {
    color: #2A292D;
    font: normal normal medium 1.125rem/1.375rem Roboto;
  }

  .subtitle-card-closed {
    color: #97979B;
    font: normal normal normal 0.875rem/1.25rem Roboto;
  }

  .col-title-card-closed {
    padding-top: 0.375rem;
  }

}