<ion-header no-border id="tab_header" class="ion-main-content-padding ion-header-main">
    <ion-toolbar no-border>
        <ion-title style="{{ pageConfiguration?.getHeaderConfiguration()?.getStyle() }}" (dblclick)="downloadLog()">{{ pageConfiguration?.getHeaderConfiguration()?.getTitle() }}</ion-title>
        <ion-buttons slot="primary" class="ion-header-main-buttons">
            <ion-button icon-only (click)="openMainMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content slot="fixed" >
    <div class="background-container">
		<div class="sinisters-container">
			<ng-container *ngIf="!sinisters">
					<div class="last-reported">
						<ion-label>Ultimo Reportado</ion-label>
					</div>
	            	<ion-card>
						<ion-card-header>
							<ion-card-title>
								<div>
									<ion-label class="title-data-info"><ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></ion-label><ion-label class="report-date-info subtitle-data-info"><ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></ion-label>
								</div>
								<div>
									<ion-label class="subtitle-data-info">Folio: <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></ion-label>
								</div>
								<div class="separator-degrade-line"></div>
							</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<ion-grid>
								<ion-row>
									<ion-col size="12">
										<ion-label class="subtitle-data-info">Póliza:</ion-label>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="12">
										<ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
									</ion-col>
								</ion-row>
								<ion-row class="row-product-container">
									<ion-col size="12">
										<ion-label class="subtitle-data-info">Producto:</ion-label>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="12">
										<ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
									</ion-col>
								</ion-row>
								<ion-row class="row-circle-nav circle-nav">
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div class="inner-circle-disabled"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div class="inner-circle-disabled"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div class="inner-circle-disabled"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage last-circle-stage">
												<div class="inner-circle-disabled"></div>
											</div>
										</div>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info">Reporte</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info">Recepción de Documentos</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info">Resolución</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info">Cierre</ion-label>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card-content>
		            </ion-card>
					<ion-card class="ion-card-closed" *ngFor="let item of [1, 1, 1]">
						<ion-card-header>
							<ion-card-title>
								<ion-grid>
									<ion-row>
										<ion-col size="3">
											<div class="card-closed-icon-container">
												<span class="material-icons-outlined icon-card-closed"><ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></span>
											</div>
											<div class="card-closed-icon-container-progress"></div>
										</ion-col>
										<ion-col size="9" class="col-title-card-closed">
											<ion-row>
												<ion-col size="12">
													<ion-label class="title-card-closed"><ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></ion-label>
												</ion-col>
											</ion-row>
											<ion-row>
												<ion-col size="12">
													<ion-label class="subtitle-card-closed"><ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text></ion-label>
												</ion-col>
											</ion-row>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-card-title>
						</ion-card-header>
					</ion-card>
			</ng-container>
			<ng-container *ngIf="sinisters && sinisters.length === 0">
				<div class="empty-sinisters-container">
					<div class="empty-img-container">
						<img src="/assets/imgs/pages/zurich-card-list/empty-sinisters.png" alt="image">
					</div>
					<ion-label class="ops-label">No tienes siniestros registrados!</ion-label>
					<ion-label class="empty-sinisters-label" >Si deseas denunciar uno, utiliza el <ion-icon name="add-circle-outline"></ion-icon></ion-label>
				</div>
			</ng-container>
        	<ng-container *ngIf="sinisters && sinisters.length > 0">
        		<div class="last-reported">
        			<ion-label>Ultimo Reportado</ion-label>
        		</div>
        		<ng-container *ngFor="let sinister of sinisters">
					<ion-card *ngIf="sinister?.opened" (click)="showSinister(sinister)">
						<ion-card-header>
							<ion-card-title>
								<div>
									<ion-label class="title-data-info">{{ sinister?.typeTitle }}</ion-label><ion-label class="report-date-info subtitle-data-info">{{ sinister?.report }}</ion-label><span class="material-icons-outlined icon-card-info">{{ sinister?.iconType }}</span>
								</div>
								<div>
									<ion-label class="subtitle-data-info">Folio: {{ sinister?.nuFolio }}</ion-label>
								</div>
								<div class="separator-degrade-line"></div>
							</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<ion-grid>
								<ion-row>
									<ion-col size="12">
										<ion-label class="subtitle-data-info">Póliza:</ion-label>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="12">
										<ion-label class="title-data-info">{{ sinister?.policy }}</ion-label>
									</ion-col>
								</ion-row>
								<ion-row class="row-product-container">
									<ion-col size="12">
										<ion-label class="subtitle-data-info">Producto:</ion-label>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="12">
										<ion-label class="title-data-info">{{ sinister?.product }}</ion-label>
									</ion-col>
								</ion-row>
								<ion-row class="row-circle-nav circle-nav">
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div [ngClass]="checkStage(sinister, 1) ? 'inner-circle' : 'inner-circle-disabled'"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div [ngClass]="checkStage(sinister, 2) ? 'inner-circle' : 'inner-circle-disabled'"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage">
												<div [ngClass]="checkStage(sinister, 3) ? 'inner-circle' : 'inner-circle-disabled'"></div>
											</div>
										</div>
									</ion-col>
									<ion-col size="3" class="circle-nav-col">
										<div class="circle-container">
											<div class="circle-stage last-circle-stage">
												<div [ngClass]="checkStage(sinister, 4) ? 'inner-circle' : 'inner-circle-disabled'"></div>
											</div>
										</div>
									</ion-col>
								</ion-row>
								<ion-row>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info" [ngClass]="checkStage(sinister, 1) ? 'label-stage-info-active' : ''">Reporte</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info" [ngClass]="checkStage(sinister, 2) ? 'label-stage-info-active' : ''">Recepción de Documentos</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info" [ngClass]="checkStage(sinister, 3) ? 'label-stage-info-active' : ''">Resolución</ion-label>
									</ion-col>
									<ion-col size="3" class="col-label-stage">
										<ion-label class="label-stage-info" [ngClass]="checkStage(sinister, 4) ? 'label-stage-info-active' : ''">Cierre</ion-label>
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-card-content>
					</ion-card>
					<ion-card *ngIf="!sinister?.opened" (click)="openCard(sinister)" class="ion-card-closed">
						<ion-card-header>
							<ion-card-title>
								<ion-grid>
									<ion-row>
										<ion-col size="3">
											<div class="card-closed-icon-container">
												<span class="material-icons-outlined icon-card-closed">{{ sinister?.iconType }}</span>
											</div>
											<div class="card-closed-icon-container-progress" [ngClass]="getProgressClass(sinister)"></div>
										</ion-col>
										<ion-col size="9" class="col-title-card-closed">
											<ion-row>
												<ion-col size="12">
													<ion-label class="title-card-closed">{{ sinister?.typeTitle }}</ion-label>
												</ion-col>
											</ion-row>
											<ion-row>
												<ion-col size="12" *ngIf="checkStage(sinister, 1)">
													<ion-label class="subtitle-card-closed">Reportado</ion-label>
												</ion-col>
												<ion-col size="12" *ngIf="checkStage(sinister, 2)">
													<ion-label class="subtitle-card-closed">Recepción de Documentos</ion-label>
												</ion-col>
												<ion-col size="12" *ngIf="checkStage(sinister, 3)">
													<ion-label class="subtitle-card-closed">Resolución</ion-label>
												</ion-col>
												<ion-col size="12" *ngIf="checkStage(sinister, 4)">
													<ion-label class="subtitle-card-closed">Cierre</ion-label>
												</ion-col>
											</ion-row>
										</ion-col>
									</ion-row>
								</ion-grid>
							</ion-card-title>
						</ion-card-header>
					</ion-card>
    			</ng-container>
        	</ng-container>
		</div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="button-plus" (click)="openAddSinister()" style="{{ getFabButtonStyle() }}">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
