.ts-red-theme {
  --ion-color-theme-primary: #E11B22;
  --ion-color-theme-secondary: #5EB9E4;
  --ion-color-theme-tertiary: #0083A9;
  --ion-color-theme-selected-participants: #F5F5F5;
  --ion-color-theme-background-msg: #FFD1DB;
  --ion-color-theme-text-item-option: #0083A9;

  .ion-color-theme-msg-state {
    --ion-color-base: var(--ion-color-theme-primary);
  }

  .ion-color-theme-tertiary {
    --ion-color-base: var(--ion-color-theme-tertiary);
  }

}