.ts-green-theme {
  --ion-color-theme-primary: #9ACA38;
  --ion-color-theme-secondary: #4FA600;
  --ion-color-theme-selected-participants:  #F7F7F7;
  --ion-color-theme-background-msg: #DFE9AC;
  --ion-color-theme-text-item-option: #9ACA38;

  .ion-color-theme-msg-state {
    --ion-color-base: var(--ion-color-theme-secondary);
  }
  .ion-color-theme-tertiary {
    --ion-color-base: var(--ion-color-theme-primary);
  }
}