<ion-content slot="fixed">
	<div class="ion-main-content-padding">
		<div class="buttons-container">
		    <ion-button style="{{ pageConfiguration?.getButtonConfigurationByName('enterButton').getStyle() }}" (click)="navigateTo('/login')">
		        <span>{{ pageConfiguration?.getButtonConfigurationByName('enterButton').getLabel() }}</span>
		    </ion-button>
		    <ion-button style="{{ pageConfiguration?.getButtonConfigurationByName('registerButton').getStyle() }}" (click)="navigateTo('/register')">
		        <span>{{ pageConfiguration?.getButtonConfigurationByName('registerButton').getLabel() }}</span>
		    </ion-button>
		</div>
	</div>
</ion-content>
