/* Low density (120), ldpi */
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
	ion-content {
		--background: url("../../../assets/imgs/pages/title-page/drawable-ldpi/background-ldpi.png") no-repeat top center / 100% auto;
	}
}

/* Medium density (160), mdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
	ion-content {
		--background: url("../../../assets/imgs/pages/title-page/drawable-mdpi/background-mdpi.png") no-repeat top center / 100% auto;
	}
}

/* High density (240), hdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
	ion-content {
		--background: url("../../../assets/imgs/pages/title-page/drawable-hdpi/background-hdpi.png") no-repeat top center / 100% auto;
	}
}

/* Extra high density (320), xhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	ion-content {
		--background: url("../../../assets/imgs/pages/title-page/drawable-xhdpi/background-xhdpi.png") no-repeat top center / 100% auto;
	}
}

/* Extra extra high density (480), xxhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  ion-content {
    background-image: url("../../../assets/imgs/pages/title-page/drawable-xxhdpi/background-xxhdpi.png") no-repeat top center / 100% auto;
  }
}

/* Extra extra extra high density (640), xxxhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 4) {
  ion-content {
    --background: url("../../../assets/imgs/pages/title-page/drawable-xxxhdpi/background-xxxhdpi.png") no-repeat top center / 100% auto;
  }
}

ion-content {
	background-size: cover;

	.ion-main-content-padding {
		width: 100%;
		height: 100%;

		.buttons-container {
			padding: 0rem 0.8125rem 0rem 0.8125rem;
			position: fixed;
			right: 0rem;
			bottom: 2.5rem;
			width: 100%;

			ion-button {
				bottom: 0rem;
				width: 100%;
				box-shadow: 0rem 0.188rem 0.375rem #00000029;
				border-radius: 0.313rem;
				opacity: 1;
			}
		}
	}
}
