<ion-header no-border id="tab_header" *ngIf="!pageConfiguration?.getInitialPage() && !showPage">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goToTitle()">
                <ion-icon style="{{ pageConfiguration?.getHeaderConfiguration()?.getStyle() }}" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="{{ pageConfiguration?.getHeaderConfiguration()?.getStyle() }}">{{ pageConfiguration?.getHeaderConfiguration()?.getTitle() }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="!showPage" slot="fixed" fullscreen="true" style="{{ getBackgroundImage() }}">
    <div class="app-icon">
        <img src="/assets/imgs/icon.png" alt="image">
    </div>
    <div class="background-filter">
        <div class="ion-main-content-padding" [ngClass]="pageConfiguration?.getInitialPage() ? 'ion-main-content-without-header' : 'ion-main-content-with-header'">
            <form [formGroup]="loginForm">
                <ion-item class="login-item" style="{{ pageConfiguration?.getInputConfigurationByName('username').getStyle() }}">
                    <ion-label position="stacked" [ngClass]="pageConfiguration?.getInputConfigurationByName('username').getRequired() ? 'required' : ''">{{ pageConfiguration?.getInputConfigurationByName('username').getLabel() }}</ion-label>
                    <ion-input type="text" formControlName="username" id="username"></ion-input>
                </ion-item>
                <ion-item class="login-item" style="{{ pageConfiguration?.getInputConfigurationByName('password').getStyle() }}">
                    <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="toggleShowPassword()"></ion-icon>
                    <ion-label position="stacked" [ngClass]="pageConfiguration?.getInputConfigurationByName('password').getRequired() ? 'required' : ''">{{ pageConfiguration?.getInputConfigurationByName('password').getLabel() }}</ion-label>
                    <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password"></ion-input>
                </ion-item>
            </form>
            <ion-item *ngIf="!checkInitialContextInConfiguration()" class="login-item">
                <ion-label position="stacked">Environment URL</ion-label>
                <ion-select *ngIf="selectedContext" value="{{ selectedContext.getId() }}" (ionChange)="onSelectChange($event)">
                    <ion-select-option *ngFor="let context of contexts" value="{{context.id}}">{{context.url}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-grid *ngIf="!checkInitialContextInConfiguration()">
                <ion-row>
                    <ion-col size="4" offset="4" (click)="goToContexts()">
                        <ion-icon name="add-circle-outline"></ion-icon>
                        <ion-text>Environments</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button class="sign-in" [disabled]="!isValidForm()" (click)="signIn()" style="{{ pageConfiguration?.getButtonConfigurationByName('enterButton').getStyle() }}">
                <ion-spinner name="circles" *ngIf="loginIn" class="loginIn"></ion-spinner>
                <span *ngIf="!loginIn">{{ pageConfiguration?.getButtonConfigurationByName('enterButton').getLabel() }}</span>
            </ion-button>
            <div class="forgot-password"></div>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="!openedKeyboard && !showPage">
    <div class="footer-icons">
        <div class="app-icon">
        </div>
        <div class="by-deyel-icon">
            <img src="/assets/imgs/by-deyel-icon.png" alt="image">
        </div>
    </div>
</ion-footer>

<ion-content *ngIf="showPage" class="ion-content-with-page">
  <div class="iframe-container">
    <iframe #iframe *ngIf="pageUrl" [src]="pageUrl" frameBorder="0" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" scrolling="yes" class="ion-main-content-padding iframe deyel-page-iframe"></iframe>
  </div>
</ion-content>
