/* Low density (120), ldpi */
@media screen and (-webkit-min-device-pixel-ratio: 0.75) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-ldpi/login-background-ldpi.png") no-repeat top center / 100% auto;
  }
}

/* Medium density (160), mdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-mdpi/login-background-mdpi.png") no-repeat top center / 100% auto;
  }
}

/* High density (240), hdpi */
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-hdpi/login-background-hdpi.png") no-repeat top center / 100% auto;
  }
}

/* Extra high density (320), xhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-xhdpi/login-background-xhdpi.png") no-repeat top center / 100% auto;
  }
}

/* Extra extra high density (480), xxhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 3) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-xxhdpi/login-background-xxhdpi.png") no-repeat top center / 100% auto;
  }
}

/* Extra extra extra high density (640), xxhdpi */
@media screen and (-webkit-min-device-pixel-ratio: 4) {
  ion-content {
    --background: url("../../../assets/imgs/pages/login/drawable-xxxhdpi/login-background-xxxhdpi.png") no-repeat top center / 100% auto;
  }
}

ion-content {
  .background-filter {
    /*background-color: #ffffffd9;*/
    width: 100%;
    height: 100%;
    .ion-main-content-padding {
      ion-item {
        --background: rgba(0, 0, 0, 0);
        --border-color: var(--ion-color-secondary); // default underline color
        --border-width: 0rem 0rem 0.125rem 0rem;
        --highlight-height: 0.0625rem;
        --highlight-color-focused: var(--ion-color-secondary);
        --highlight-color-invalid: var(--ion-color-grey-4); // invalid underline color
        --highlight-color-valid: var(--ion-color-secondary); // valid underline color
        --color: var(--ion-color-grey-4);
        --padding-start: 0;
        margin-bottom: 1.5rem;
        ion-label {
          color: var(--ion-color-grey-5);
        }

        .required:after {
          content:" *";
          color: var(--ion-color-urgent_priority);
        }

        ion-input, ion-select {
          font-size: 0.875rem;
          color: var(--ion-color-grey-6);
        }

        ion-icon {
          font-size: 1.275rem;
          margin: 0;
          padding: 0;
          position: relative;
          top: 1.75rem;
          color: var(--ion-color-secondary);
        }
        &.item-has-focus {
          --border-color: var(--ion-color-primary);
        }
        &.item-has-focus > ion-icon {
          --border-color: var(--ion-color-primary);
          color: var(--ion-color-primary);
        }
      }
      ion-grid {
        padding: 0;
        ion-col {
          padding: 0;
          display: grid;
          justify-content: center;
          ion-icon {
            font-size: 1.5rem;
            color: var(--ion-color-primary);
            width: 100%;
            padding-bottom: 0.3125rem;
          }
          ion-text {
            font-size: 0.6875rem;
            color: var(--ion-color-primary);
          } 
        }
      }

      .register-in {
        margin: 4.125rem 0rem 0rem 0rem;
        width: 100%;
      }

      .footer-icons {
        margin-top: 63px;
      }

    }

    .ion-main-content-without-header {
      padding-top: 8.5rem;
    }

    .ion-main-content-with-header {
      padding-top: 3.5rem;
    }

  }
}

.ios ion-text{
    text-align: center !important;
}