<ion-header no-border id="tab_header" *ngIf="!pageConfiguration?.getInitialPage()">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goToTitle()">
                <ion-icon style="{{ pageConfiguration?.getHeaderConfiguration()?.getStyle() }}" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="{{ pageConfiguration?.getHeaderConfiguration()?.getStyle() }}">{{ pageConfiguration?.getHeaderConfiguration()?.getTitle() }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content slot="fixed" fullscreen="true">
    <div class="background-filter">
        <div class="ion-main-content-padding" [ngClass]="pageConfiguration?.getInitialPage() ? 'ion-main-content-without-header' : 'ion-main-content-with-header'">
            <form [formGroup]="registerForm">
                <ion-item>
                    <ion-label position="stacked" [ngClass]="pageConfiguration?.getInputConfigurationByName('name').getRequired() ? 'required' : ''">{{ pageConfiguration?.getInputConfigurationByName('name').getLabel() }}</ion-label>
                    <ion-input type="text" formControlName="name" id="name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" [ngClass]="pageConfiguration?.getInputConfigurationByName('lastName').getRequired() ? 'required' : ''">{{ pageConfiguration?.getInputConfigurationByName('lastName').getLabel() }}</ion-label>
                    <ion-input type="text" formControlName="lastName" id="lastName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" [ngClass]="pageConfiguration?.getInputConfigurationByName('email').getRequired() ? 'required' : ''">{{ pageConfiguration?.getInputConfigurationByName('email').getLabel() }}</ion-label>
                    <ion-input type="text" formControlName="email" id="email"></ion-input>
                </ion-item>
            </form>
            <ion-button class="register-in" [disabled]="!isValidForm()" (click)="registerSubmit()" style="{{ pageConfiguration?.getButtonConfigurationByName('acceptButton').getStyle() }}">
                <span>{{ pageConfiguration?.getButtonConfigurationByName('acceptButton').getLabel() }}</span>
            </ion-button>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="!openedKeyboard">
    <div class="footer-icons">
        <div class="app-icon">
            <img src="/assets/imgs/pages/login/app-icon.png" alt="image">
        </div>
        <div class="by-deyel-icon">
            <img src="/assets/imgs/by-deyel-icon.png" alt="image">
        </div>
    </div>
</ion-footer>
