.skeleton-text {
  height: 0.9375rem;
  width: 95%;
}

.selectedFilter{
  background: var(--ion-color-primary);
  ion-icon{
    color: white;
  }
}
.funnel-button{
  margin-right: 0.125rem !important;
}

ion-list {
  padding: 0;

  ion-item {
    --ion-padding: 0rem;
    height: 4.375rem;
    --padding-start: 0.8125rem;
    --inner-border-width: 0;
    border-bottom: solid 0.0625rem var(--ion-color-grey-3);
    --padding-end: 0rem;
    --inner-padding-end: 0rem;

    .notPresentation{
      display: none !important;
    }

    ion-label {
      font-size: 0.875rem;
      color: var(--ion-color-grey-6);
    }

    ion-icon {
      font-size: 1.25rem;
    }

    ion-row{
      width: 100%;
    }

    .alignmentRightColumns{
      justify-content: space-between;
    }

    ion-col{
      padding: 0;
    }

    .col-reduced-size{
      width: 10%;
    }

    .ds-text-info-container {
      height: 4.375rem;
      padding-top: 0.625rem;
      padding-bottom: 0.3125rem;
      padding-right: 0.3125rem;
      text-align: left;

      ion-label {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    .time-container {
      text-align: center;
      height: 4.375rem;
      padding-bottom: 0.3125rem;
      padding-top: 0.875rem;
      display: inline-flex;
      padding-right: 0.3125rem;
    }

    .icons-info-container {
      text-align: right;
      padding-bottom: 0.3125rem;
      height: 4.375rem;
      padding-top: 0.875rem;
      padding-right: 0.3125rem;
    }

    .icons-actions-menu {
      height: 4.375rem;
      padding-bottom: 0.3125rem;
      padding-top: 0.625rem;
      text-align: center;
      padding-right: 1.25rem;

      ion-button {
        margin-top: 0rem;
        --padding-start: 0rem;
        --padding-end: 0rem;
      }

    }

  }

  ion-item-sliding {

    ion-item-options {
      width: 100%;
    }

    ion-item-option {
      width: 50%;
      text-transform: none;
      background: var(--ion-color-theme-selected-participants);
      color: var(--ion-color-theme-text-item-option);
      font-weight: bold;
      font-size: 0.875rem;
    }

    ion-item-option:nth-child(2n):before {
      content: '';
      height: 0.625rem;
      position: absolute;
      width: 0.0625rem;
      top: 42%;
      background: var(--ion-color-grey-5);
      opacity: 0.5;
    }

    ion-item-option:only-child {
      width: 100%;
    }

  }

}

.rotate {
  transform: rotate(25deg);
}

.empty-task-container {
  text-align: center;
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 30%;
  margin: 0rem 0.8125rem 0rem 0.8125rem;
  display: grid;
}

.empty-img-container {
  width: 100%;
  border-bottom: solid 0.0625rem var(--ion-color-grey-3);
  padding-bottom: 0.4375rem;
  margin-bottom: 0.25rem;
}

.ops-label {
  color: var(--ion-color-grey-5);
}

.empty-task-label {
  color: var(--ion-color-grey-4);
}

ion-infinite-scroll-content {
  padding-top: 0.625rem !important;
}
