<ion-header *ngIf="showHeader()" no-border id="tab_header" class="ion-main-content-padding ion-header-main">
    <ion-toolbar no-border>
        <ion-title (dblclick)="downloadLog()">{{ getContextName() }}</ion-title>
        <ion-buttons slot="primary" class="ion-header-main-buttons">
            <ion-button icon-only (click)="openFilterMenu()" class="secondary-button funnel-button" [class.selectedFilter]="isTaskFilters">
                <ion-icon name="funnel-outline"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="openOptionsPresentation($event)" class="secondary-button" [class.selectedFilter]="isFilteredPresentationTask">
                <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            <ion-button icon-only (click)="openMainMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="processShowButton($event)">
    <ng-container *ngIf="connectionOn">
        <div *ngIf="this.userProvider.inProcessSync || this.userProvider.inLoadTasks">
            <ion-list  class="ion-padding">
                <ion-item *ngFor="let item of [1, 1, 1 ,1, 1, 1]">
                    <ion-skeleton-text animated class="skeleton-text"></ion-skeleton-text>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="!this.userProvider.inProcessSync">
            <ion-list *ngIf="tasks.length > 0">
                <ion-item-sliding *ngFor="let task of tasks">
                    <ion-item class="ion-no-padding" (click)="consult(task)">
                        <ion-row [class.alignmentRightColumns]="validatePositionColumns()">
                            <ion-col class="col-reduced-size" [class.notPresentation]="!showTaskValue('Caso')">
                                <div class="ds-text-info-container">
                                    <ion-label>{{ task.dsCase }}</ion-label>
                                </div>
                            </ion-col>
                            <ion-col class="col-reduced-size" [class.notPresentation]="!showTaskValue('Proceso')">
                                <div class="ds-text-info-container">
                                    <ion-label>{{ task.dsProcess }}</ion-label>
                                </div>
                            </ion-col>
                            <ion-col class="col-reduced-size" [class.notPresentation]="!showTaskValue('Actividad')">
                                <div class="ds-text-info-container">
                                    <ion-label>{{ task.dsActivity }}</ion-label>
                                </div>
                            </ion-col>
                            <ion-col size="2" [class.notPresentation]="!showTaskValue('Inicio')">
                                <div class="time-container">
                                    <ion-label>{{ task.dtInit|relativeDate: "same-day-exact" | translate }}</ion-label>
                                </div>
                            </ion-col>
                            <ion-col size="1" [class.notPresentation]="!showTaskValue('Alerta')">
                                <div class="icons-info-container" >
                                    <ion-icon name="time-outline" color="{{ task.alertColor }}" class="timer-icon"></ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="1" [class.notPresentation]="!showTaskValue('Prioridad')">
                                <div class="icons-info-container">
                                    <ion-icon name="{{ task.iconName }}" color="{{ task.priorityColor }}" class="priority-icon" [ngClass]="(task.cdPriority == 2 ? 'rotate' : '')">
                                    </ion-icon>
                                </div>
                            </ion-col>
                            <ion-col size="1">
                                <div class="icons-actions-menu">
                                    <ion-button class="more-actions-button" fill="clear" (click)="moreActions(task, $event)">
                                        <ion-icon name="ellipsis-vertical" color="grey-5" *ngIf="task.lsButtons && task.lsButtons.length > 1" (click)="moreActions(task, $event)"></ion-icon>
                                    </ion-button>
                                </div>
                            </ion-col>
                        </ion-row>     
                    </ion-item>
                    <ng-container *ngIf="task.lsButtons && task.lsButtons.length > 0">
                        <ion-item-options side="end">
                            <ion-item-option expandable *ngIf="task.defaultButtonUrl !== ''" (click)="executeAction(task, task.defaultButtonName)" >
                                {{task.defaultButtonName}}
                            </ion-item-option>
                            <ion-item-option expandable *ngIf="task.defaultButtonUrl === ''" (click)="executeAction(task, task.lsButtons[0].dsName)">
                                {{ task.lsButtons[0].dsName }}
                            </ion-item-option>
                            <ng-container *ngIf="task.lsButtons.length > 1">
                                <ion-item-option expandable *ngIf="task.defaultButtonUrl === ''" (click)="executeAction(task, task.lsButtons[1].dsName)">
                                    {{ task.lsButtons[1].dsName }}
                                </ion-item-option>
                                <ion-item-option expandable *ngIf="task.defaultButtonUrl !== '' && !task.isDefaultButton(task.lsButtons[0].dsName)"
                                    (click)="executeAction(task, task.lsButtons[0].dsName)">
                                    {{ task.lsButtons[0].dsName }}
                                </ion-item-option>
                                <ion-item-option expandable *ngIf="task.defaultButtonUrl !== '' && task.isDefaultButton(task.lsButtons[0].dsName)"
                                    (click)="executeAction(task, task.lsButtons[1].dsName)">
                                    {{ task.lsButtons[1].dsName }}
                                </ion-item-option>
                            </ng-container>
                        </ion-item-options>
                    </ng-container>
                </ion-item-sliding>
            </ion-list>

            <ion-infinite-scroll threshold="100px"
                (ionInfinite)="getTasks($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'LOADING_TASKS' | translate}}">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>

            <ng-container *ngIf="tasks.length === 0 && !this.userProvider.inLoadTasks">
                <div class="empty-task-container">
                    <div class="empty-img-container">
                        <img src="/assets/imgs/ups-3.png" alt="image">
                    </div>
                    <ion-label class="ops-label">Ops!</ion-label>
                    <ion-label class="empty-task-label" >{{ 'YOU_TO_DO_LIST_IS_EMPTY' | translate }}...</ion-label>
                </div>
            </ng-container>
        </div>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button id="button-filter" (click)="openFilterMenu()" style="{{ getFabButtonStyle() }}" *ngIf="showButtonFilter" size="{{ showButtonPlus ? 'small' : undefined }}">
                <ion-icon name="{{ isTaskFilters ? 'funnel' : 'funnel-outline' }}"></ion-icon>
            </ion-fab-button>
            <ion-fab-button id="button-plus" (click)="openActionsList()" style="{{ getFabButtonStyle() }}" *ngIf="showButtonPlus">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ng-container>
    <ng-container *ngIf="!connectionOn">
        <app-error-connection></app-error-connection>
    </ng-container>
</ion-content>
