ion-list {
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }

  ion-label {
    margin: 1.45rem 0rem;
  }
}

.styled-button{
  background: var(--ion-color-theme-selected-participants);
  color: var(--ion-color-theme-text-item-option);
  font-weight: bold;
  font-size: 0.875rem;
}