<ion-header class="ion-main-content-padding header-with-icon ion-no-border">
    <ion-toolbar>
        <ion-buttons left>
            <ion-button icon-only (click)="goToLogin()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Environments</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-main-content-padding">
        <ion-item-sliding *ngFor="let context of contexts">
            <ion-item (click)="updateContext(context.id)">
                <ion-label>{{context.name}}</ion-label>
            </ion-item>
            <ion-item-options side="end" [style.width.%]="100">
                <ion-item-option expandable (click)="removeContext(context)" [style.width.%]="100" class="styled-button">Remove</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addContext()" style="{{ getFabButtonStyle() }}">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
