ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-title{
  padding-left: 3.875rem;
  font-size: 1.188rem;
  color: var(--ion-color-grey-6);
  padding: 0px 0px !important;    
}

.statusCircle {
  position: absolute;
  height: 0.563rem;
  width: 0.563rem;
  top: 2.25rem;
  left: 1.688rem;
  border-radius: 100%;
  background: #f44336;
  border: 0.063rem solid #FFF;
}

.underTitle {
  display: block;
  font-size: 12px !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blocked-message {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  //color: map_get($colors, primary);
  font-weight: bolder;
}

img{
  border-radius: 50%;
  width: 	2.25rem;
  height: 2.25rem;
}

.groupImg {
  width: 100%;
  height: 200px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  line-height: 1.15;
}

.header .toolbar {
  position: fixed;
  top: 0px;
}

ion-row {
  padding: 0 15px !important;
}

ion-item {
  //border-bottom: 1px solid map_get($colors, division_line) !important;
  height: 3.75rem !important;
  --padding-start: 0.813rem !important;
  display: inline;
}

ion-avatar{
  text-align: center;
}

.list-item-title{
  padding-left: 1.438rem !important; 
}

ion-label{
  padding-left: 1.438rem !important;
}

span{
  padding-left: 0.8125rem;
}

.ios{
  .header{
    padding-top: var(--ion-safe-area-top) !important;
  }
  .toolbar{
    margin-top: var(--ion-safe-area-top) !important;
  }
}
