<ion-toolbar [hidden]="true" *navbar></ion-toolbar>

<ion-header no-border id="tab_header" class="header">
    <img class="groupImg" [src]="this.conversation.image"/>
    <ion-toolbar color="primary" no-border class="toolbar">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button icon-only (click)="addParticipants()" id="add-participants-button-top"
            *ngIf="!conversation.blocked">
                <ion-icon name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
    <ion-buttons slot="end">
        <ion-button icon-only (click)="edit()" id="edit-group-button" *ngIf="!conversation.blocked">
            <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>
        <span class="title" text-wrap (click)="showFullGroupName()">{{conversation.dsTitle}}</span>
        <span class="underTitle">{{"CREATED_BY" | translate}} {{ dsCreator }} - {{conversation.dtLastUpdate | date: 'd/M/yy'}}</span>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="content" fullscreen>
    <ion-list lines="none">
        <ion-list-header>{{"PARTICIPANTS" | translate}}: {{conversation.lsParticipants.length}}</ion-list-header>
        <ion-item *ngFor="let participant of conversation.lsParticipants" (click)="selectedParticipant(participant)"
                  id="participant_{{participant.cdParticipant}}" no-lines>
            <ion-avatar item-start>
                <div class="img-container">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)">
                </div>
                <div class="statusCircle {{participant.stateClass}}"></div>
            </ion-avatar>
            <ion-label *ngIf="!isActualParticipant(participant)">{{participant.dsParticipant}}</ion-label>
            <ion-label *ngIf="isActualParticipant(participant)">{{"ME" | translate}}</ion-label>
        </ion-item>
        <ion-item *ngIf="canLeave" (click)="leave()" id="leave-group-button" no-lines>
            <ion-icon item-start name="log-out" class="color-red"></ion-icon>
            <span class="leave-group">{{"LEAVE_CONVERSATION" | translate}}</span>
        </ion-item>
        <ion-item *ngIf="canDelete" (click)="delete()" id="delete-group-button" no-lines>
            <ion-icon item-start name="remove-circle" class="color-red"></ion-icon>
            <span class="leave-group">{{"DELETE_GROUP" | translate}}</span>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <div class="blocked-message" *ngIf="conversation.blocked">
        {{"NO_LONGER_GROUP_PARTICIPANT_MESSAGE" | translate}}
    </div>
</ion-footer>
