<ion-header *ngIf="!showInTab && showHeader()" class="ion-main-content-padding header-with-icon ion-no-borde ion-header-main ion-header-with-back">
  <ion-toolbar class="toolbar-header">
      <ion-buttons left>
          <ion-button icon-only (click)="goToBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="showInTab && showHeader()" no-border id="tab_header" class="ion-main-content-padding ion-header-main">
  <ion-toolbar no-border>
      <ion-title (dblclick)="downloadLog()">{{ getContextName() }}</ion-title>
      <ion-buttons slot="primary">
          <ion-button icon-only class="secondary-button" (click)="loadUrl()">
              <ion-icon name="refresh"></ion-icon>
          </ion-button>
          <ion-button icon-only (click)="openMainMenu($event)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="iframe-container">
    <iframe #iframe *ngIf="url" [src]="url" frameBorder="0" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" scrolling="yes" class="ion-main-content-padding iframe deyel-page-iframe"></iframe>
  </div>
  <ion-fab *ngIf="(!actions || actions.length === 0) && showFabButton()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button id="button-plus" (click)="openActionsList()" style="{{ getFabButtonStyle() }}">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="actions && actions.length > 0 && showFabButton()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button style="{{ getFabButtonStyle() }}">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
          <ion-fab-button id="button-plus" (click)="openActionsList()" attr.action-name="{{ 'OPEN_ACTION' | translate }}">
              <ion-icon name="search" color="secondary"></ion-icon>
          </ion-fab-button>
          <ng-container *ngFor="let action of actions">
            <ion-fab-button (click)="openAction(action)" [attr.action-name]="action.getName()">
                <ion-icon name="clipboard-outline" color="secondary"></ion-icon>
            </ion-fab-button>
        </ng-container>
      </ion-fab-list>
  </ion-fab>
</ion-content>
