<ion-list>
    <ion-list-header text-wrap>{{translateService.instant('COMMANDS_OF') + ' ' + bot.dsParticipant}}</ion-list-header>
    <ion-item *ngFor="let command of bot.lsCommands" (click)="runCommand(command);" item-end>{{command.dsCommand}}
    </ion-item>
</ion-list>
