ion-content {

	ion-list {

		padding: 0rem;

		ion-item {
			font-size: 0.875rem;
			color: var(--ion-color-theme-primary);
			height: 3.125rem;
			--border-style: none;
			border-bottom: 0.0625rem solid var(--ion-color-grey-3);
		}

		ion-item:last-child {
			border-bottom: none;
		}
	}

}
