ion-title{
  padding-left: 3.875rem;//1.438rem;
  font-size: 1.188rem;
  color: var(--ion-color-grey-6);
  padding: 0px 0px !important;    
}

ion-row {
  padding: 0 15px !important;
}

ion-item {
  height: 3.75rem !important;
  --padding-start: 0.813rem !important;
  display: inline;
}

.statusCircle {
  position: absolute;
  height: 0.563rem;
  width: 0.563rem;
  top: 2.25rem;
  left: 1.688rem;
  border-radius: 100%;
  background: #f44336;
  border: 0.063rem solid #FFF;
}

.group-name-item {
  border-bottom: 0px !important;
}

img{
  border-radius: 50%;
  width: 	2.25rem;
  height: 2.25rem;
}

.list-item-title{
  padding-left: 1.438rem !important; 
}

ion-avatar{
  text-align: center;
}
