<ion-toolbar [hidden]="true" *navbar></ion-toolbar>

<ion-header no-border id="tab_header">
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button icon-only (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{"CREATE_GROUP" | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-list no-lines>
            <ion-item no-lines class="group-name-item">
                <ion-label color="primary" position="floating">{{"GROUP_NAME" | translate}}</ion-label>
                <ion-input #groupName name="groupName" [(ngModel)]="groupTitle" id="group-name-input"></ion-input>
            </ion-item>
        </ion-list>
    </form>
    <ion-list lines="none">
        <ion-list-header>{{"PARTICIPANTS" | translate}}: {{selectedParticipants.length}}</ion-list-header>
        <ion-item *ngFor="let participant of selectedParticipants">
            <ion-avatar item-start>
                <div class="img-container">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(participant.flImage)">
                </div>
                <div class="statusCircle {{participant.stateClass}}"></div>
            </ion-avatar>
            <ion-label class="list-item-title">{{participant.dsParticipant}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="big-button" (click)="create()" [disabled]="saving" id="create-button" style="{{ getFabButtonStyle() }}">
            <ion-icon name="checkmark" class="big-icon"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>