<ion-content>
    <ion-list>
        <ion-item no-lines>
            <ion-label (tap)="executeCommand()">
                <p class="list-item-title"><b>/solicitarInsumo</b></p>
                <p class="list-item-subtitle">Solicitar un insumo al administrador</p>
            </ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label (tap)="executeCommand()">
                <p class="list-item-title"><b>/reservarSala</b></p>
                <p class="list-item-subtitle">Reservar sala</p>
            </ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label (tap)="executeCommand()">
                <p class="list-item-title"><b>/pedirEntrevista</b></p>
                <p class="list-item-subtitle">Pedir entrevista con jefe</p>
            </ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label (tap)="executeCommand()">
                <p class="list-item-title"><b>/pedirVacaciones</b></p>
                <p class="list-item-subtitle">Pedir vacaciones</p>
            </ion-label>
        </ion-item>
        <ion-item no-lines>
            <ion-label (tap)="executeCommand()">
                <p class="list-item-title"><b>/pedirDiasLicencia</b></p>
                <p class="list-item-subtitle">Pedir días de licencia</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>