
.btn-deyel{
  float: right;
}

ion-item {
  --background: rgba(0, 0, 0, 0);
  --border-width: 0rem 0rem 0.03125rem 0rem;
  --highlight-height: 0.0625rem;
  --highlight-color-focused: var(--ion-color-secondary);
  --highlight-color-invalid: var(--ion-color-grey-4); // invalid underline color
  --highlight-color-valid: var(--ion-color-secondary); // valid underline color
  &.item-has-focus > ion-label{
    color: var(--ion-color-secondary) !important;
  }
  &.item-has-focus > ion-icon{
    color: var(--ion-color-primary) !important;
  }
}