<ion-header class="ion-main-content-padding header-with-icon ion-no-border">
    <ion-toolbar>
        <ion-buttons left>
            <ion-button icon-only (click)="backToContextList()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!context.id">Create Context</ion-title>
        <ion-title *ngIf="context.id">Edit Context</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen padding style="background: none transparent !important;">
    <form [formGroup]="contextForm">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">URL</ion-label>
                <ion-input type="url" formControlName="url"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button *ngIf="!context.id" fill="clear" class="btn-deyel" (click)="save()">Create</ion-button>
        <ion-button *ngIf="context.id" fill="clear" class="btn-deyel" (click)="save()">Modify</ion-button>
    </form>
</ion-content>
