<ion-content no-padding>
    <div style="position: absolute;left: 45%;top: 40%;" *ngIf="this.userProvider.inProcessSync">
        <ion-spinner name="circles"></ion-spinner>
    </div>
    <ion-list id="bots" *ngIf="!this.userProvider.inProcessSync">
        <ion-item *ngIf="opening" text-center no-lines>
            <ion-spinner name="dots"></ion-spinner>
        </ion-item>
        <ion-item *ngFor="let bot of bots" class="bot" no-lines>
            <ion-avatar item-start>
                <div class="img-container">
                    <img [src]="sanitizer.bypassSecurityTrustResourceUrl(bot.flImage)">
                </div>
                <div class="statusCircle {{bot.stateClass}}"></div>
            </ion-avatar>
            <div class="message" (click)="openChat(bot)">
                <div class="details">
                    <p class="list-item-title"><b>{{bot.dsParticipant}}</b></p>
                </div>
            </div>
            <ion-avatar item-end class="pin">
                <img class="imgPin" *ngIf="bot.dsParticipant == 'Bot de prueba'">
            </ion-avatar>
            <ion-avatar item-end class="command" (click)="openCommands(bot)">
                <ion-icon name="complete-command"></ion-icon>
            </ion-avatar>
        </ion-item>
    </ion-list>
</ion-content>
