/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables";
@import "~animate.css/animate.min.css";
@import 'material-icons/iconfont/material-icons.css';

page-chat {
  background-image: url("assets/imgs/trama-background.png") !important;
  background-repeat: repeat;
  background-size: 100% auto;
  background-color: var(--ion-color-chat-background);
}

.firstload {
  text-align: center;
  align-items: normal;
  ion-backdrop {
    opacity: 1 !important;
    background-image: url("../resources/android/splash/drawable-port-xhdpi-screen.png");
    background-repeat: repeat;
    background-size: 100% auto;
  }
  .loading-wrapper {
    box-shadow: none;
    background-color: transparent;
    flex-direction: column;
    font-size: 0.875rem;
    color: var(--ion-color-grey-6);
    --max-width: 100%;
    width: 100%;
    .loading-content {
      text-align: center;
      width: 100%;
      ion-img {
        width: 2.188rem;
        margin: auto;
        margin-bottom: 1.25rem;
      }
      .progress-bar {
        margin-top: 1.25rem;
        height: 0.03rem;
        width: 100%;
        background-color: var(--ion-color-primary);
        .progress-bar-value {
          background-color: var(--ion-color-primary);
          position: relative;
          top: -0.11rem;
          height: 0.25rem;
          width: 4rem;
          animation: animate-progress-bar 1s linear infinite normal;
        }
      }
    }
  }
}

@keyframes animate-progress-bar {
  0% { left: 0rem; width: 0rem }
  25% { left: 0rem; width: 8rem }
  50% { left: calc(50% - 4rem); width: 8rem }
  75% { left: calc(100% - 8rem); width: 8rem}
  100% { left: 100%; width: 0}
}

body {
  color: var(--ion-color-grey-6);
  background-color: #fff;
}

.ion-main-content-padding {
  padding: 0rem 0.8125rem 0rem 0.8125rem;
}

ion-header {
  background-color: var(--ion-color-white);
  border-bottom: solid 0.0625rem var(--ion-color-grey-3);
  padding-right: 0rem;

  ion-toolbar {
    height: 3.5rem;

    ion-title {
      display: inline-block;
      font-size: 1.188rem;
      padding: 0rem;
    }

    ion-buttons, ion-searchbar {
      display: inline-block;
      padding: 0rem;

      ion-icon, i {
        color: var(--ion-color-primary);
      }
    }

    ion-button {
      margin-right: 0rem !important;
      margin-left: 0rem !important;
    }

  }
  .ion-header-main-buttons {
    margin-right: 0rem;
  }
}

.ios {
  #tab_header{
    margin-top: var(--ion-safe-area-top) !important;
  }
  ion-header{
    margin-top: var(--ion-safe-area-top);
  }
  ion-toolbar{
    padding-top: 0px !important;
    ion-title{
      display: flex !important;
      padding: 0.813rem;
      padding-inline-start: 0;
      text-align: left !important;
    }
  }

  ion-footer {
    i {
      padding-top: 0rem !important;
    }
  }

  .safe-area-top-header {
    padding-top: var(--ion-safe-area-top);
  }

}

.header-ios ion-toolbar:last-of-type{
  --border-width: 0 !important;
}

.ion-header-main {
  padding: 0rem 0rem 0rem 0.8125rem;
}

.ion-header-main:after {
  background: none;
}

.header-with-icon {
  border-bottom: 0.0625rem solid var(--ion-color-grey-3);

  ion-toolbar {
    height: 3.5rem;

    ion-searchbar {
      --background: var(--ion-color-grey-2);
      --placeholder-color: var(--ion-color-grey-4);
      --icon-color: var(--ion-color-grey-4);
      --cancel-button-color: var(--ion-color-grey-4);
      --clear-button-color: var(--ion-color-grey-4);
      --border-radius: 0rem;
      --box-shadow: 0rem;
      padding: 0rem;
      height: 2.5rem !important;

      ion-icon, i {
        opacity: 0.5 !important;
        color: var(--ion-color-grey-4) !important;
        top: 0.5rem !important;
      }

      input {
        font-size: 0.875rem !important;
      }
    }
  }

  ion-buttons, ion-title {
    display: inline-block;
  }

  ion-button {
    --padding-start: 0rem;
    --padding-end: 0rem;
    font-size: 1rem;

    ion-icon, i {
      color: var(--ion-color-grey-5);
    }
  }

  ion-title {
    font-size: 1.188rem;
    position: relative;
    top: 0.625rem;
    padding: 0rem 0rem 0rem 0.8125rem;
    color: var(--ion-color-grey-6);
  }

}

.ios .header-with-icon{
  margin-top: 0rem !important;
  padding-top: var(--ion-safe-area-top) !important;
  ion-title{
    top: 0 !important;
    position: absolute;
    padding-left: 3.125rem;
  }
  ion-buttons{
    display: inline !important;
  }
  ion-icon{
    top: 0rem !important;
  }
}

.ios .toolbar-searchbar-header{
  margin-bottom: 0 !important;
}

::-webkit-scrollbar {
  width: 0.3125rem !important;
  padding: 0rem 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.625rem !important;
  -webkit-box-shadow: inset 0rem 0rem 0.375rem var(--ion-color-grey-4) !important;
}

.scroll-content {
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

ion-content {
  height: 100%;
}

ion-footer {
  .footer-icons {
    text-align: center;
    position: fixed;
    bottom: 0.75rem;
    width: 100%;

    .app-icon {
      img {
        width: 15rem;
        height: 1.625rem;
      }
    }

    .by-deyel-icon {
      margin-top: 1.625rem;

      img {
        width: 3.813rem;
        height: 1.438rem;
      }
    }

    .footer-icons-hidden {
      display: none;
    }
  }
}

.toolbar-searchbar-header {
  height: 2.938rem !important;
}

.popover-content {

  ion-list {
    padding: 0rem;

    ion-item {
      font-size: 0.875rem;
    }

  }

}

.ios .filter-task-menu-modal .popover-content {
  left: 1.24rem !important;
  position: sticky;
}

.filter-task-menu-modal .popover-content {
  width: 20.88rem;
  height: 20.88rem;
}

.alert-filter-menu .alert-wrapper {
  width: 20.5rem;
  height: 9.25rem;
  max-width: 20.5rem;
  .alert-head{
    padding-bottom: 0rem;
    .alert-sub-title{
      color: #0057A7;
      font-size: 0.813rem;
    }
  }
  .alert-input-group{
    padding: 0rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    .alert-input{
      border-radius: 0.188rem 0.188rem 0rem 0rem;
      border: 0.063rem solid #D8DADC;
      font-size: 0.875rem;
      color: #2A292D;
      border-bottom: 0.125rem solid #00B6EE80;
      padding-left: 0.625rem;
    }
  } 
}

.ios .actions-modal .popover-content {
  left: 1.24rem !important;
  position: sticky;
}

.actions-modal .popover-content {
  width: 20.88rem;
}

ion-fab-list {

  ion-fab-button {
    --background: var(--ion-color-grey-2);
  }

}

ion-fab-button[action-name] {
  position: relative;
}

ion-fab-button[action-name]::after {
  position: absolute;
  content: attr(action-name);
  z-index: 1;
  right: 3.125rem;
  bottom: 0.25rem;
  padding: 0.5625rem;
  border-radius: 0.9375rem;
  color: var(--ion-color-theme-secondary);
  background: var(--ion-color-grey-2);
  box-shadow: 0rem 0rem 0.1875rem var(--ion-color-shadow);
}

.statusCircle {

  &.online {
    background: var(--ion-color-participant-online) !important;
  }

  &.offline {
    background: var(--ion-color-participant-offline) !important;
  }

  &.absent {
    background: var(--ion-color-participant-absent) !important;
  }

  &.not-available {
    background: var(--ion-color-participant-not-available) !important;
  }

}

.ios .alert-filter-menu .alert-wrapper {
  .alert-head{
    .alert-sub-title{
      float: left;
      font-size: 1.063rem;
    }
  }
  .alert-message{
    padding: 0rem;
  }
  .alert-input-group{
    padding: 0rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    .alert-input{
      border-radius: 0.188rem 0.188rem 0rem 0rem;
      border: 0.063rem solid #D8DADC;
      font-size: 0.875rem;
      color: #2A292D;
      border-bottom: 0.125rem solid #00B6EE80;
      padding-left: 0.625rem;
    }
  }
  .alert-button-group .alert-button{
    padding-left: 15rem;
    border-top-width: 0rem !important;
  } 
}