<ion-tabs [ngClass]="!showHeader() ? 'safe-area-top-header' : ''">
    <ion-tab-bar *ngIf="tabsConfigurations && tabsConfigurations.length > 1" slot="bottom" class="ion-main-content-padding">
        <ion-tab-button *ngFor="let tabConfiguration of tabsConfigurations" (click)="openTab(tabConfiguration)" [class.active-tab]="isActiveTab(tabConfiguration?.getUrl())" [class.not-actived-tab]="!tabConfiguration?.getIsActived() || !checkSecurity(tabConfiguration)" style="--ripple-color: {{ tabConfiguration.getIconColor() }}">
            <ng-container *ngIf="tabConfiguration?.getIconName().includes('deyel')">
                <i class="{{ tabConfiguration?.getIconName() }}" style="color: {{ tabConfiguration.getIconColor() }}"></i>
            </ng-container>
            <ng-container *ngIf="!tabConfiguration?.getIconName().includes('deyel')">
                <fa-icon [icon]="tabConfiguration?.getIconName()" style="color: {{ tabConfiguration.getIconColor() }}"></fa-icon>
            </ng-container>
            <ion-label class="{{ tabConfiguration?.getIconName().includes('deyel') ? 'label-with-deyel-icon': '' }}">{{ tabConfiguration?.getTitle() | translate }}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
