ion-tabs {
  ion-tab-bar {
    overflow: auto;
    height: 2.875rem;
    margin-bottom: env(safe-area-inset-bottom) !important;
    padding-top: 0.4125rem !important;
    justify-content: flex-start;

    ion-tab-button {
      opacity: 0.5;

      ion-label {
        font-size: 0.5625rem;
        color: var(--ion-color-grey-6);
        margin-bottom: 0.275rem !important;
        white-space: nowrap;
      }

      ion-icon, i {
        width: 1.188rem;
        margin-top: 0.1375rem;
        margin-bottom: 0.3125rem;
        color: var(--ion-color-theme-primary);
      }

      i, fa-icon {
        font-size: 1.375rem;
        height: 1.188rem;
      }

      fa-icon{
        justify-content: center;
        display: flex;
        width: 1.188rem;
        padding-bottom: 1.688rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        color: var(--ion-color-theme-primary);
      }

      .label-with-deyel-icon {
        margin-bottom: 0.25rem !important;
      }

      &.active-tab {
        opacity: 1 !important;
      }

      &.not-actived-tab{
        display: none;
      }

    }
  }
}

.ios{
  ion-icon{
    margin-bottom: 0.2rem !important;
  }
}
