<ion-list>
  <ion-item *ngFor="let entry of presentationTasks">
    <ion-label>{{entry.val  | translate}}</ion-label>
    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" (ionChange)="processEntry($event)"></ion-checkbox>
  </ion-item>
</ion-list>
  
