.deyel-page-iframe {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch !important;
}

ion-buttons {
	margin-right: 0rem;
}

ion-header {
	border-bottom: solid 0.0625rem var(--ion-color-grey-3);
}

.ion-main-content-padding {
  padding: 0rem !important;
}

.ion-header-with-back {
	padding: 0rem !important;
}

.toolbar-header {
	padding: 0rem 0.8125rem 0rem 0.8125rem !important;
}

.iframe-container {
	left: 0rem;
	right: 0rem;
	top: 0rem;
	bottom: 0rem;
	position: absolute;
}

.ios ion-toolbar{
	padding-top: 0.8125rem !important;
}
