<ion-content>
  <div class="iframe-container">
    <iframe #iframe *ngIf="url" [src]="url" frameBorder="0" sandbox="allow-forms allow-popups allow-scripts allow-same-origin allow-pointer-lock allow-top-navigation" scrolling="yes" class="ion-main-content-padding iframe deyel-page-iframe"></iframe>
  </div>
</ion-content>
