<ion-header>
    <ion-toolbar>
        <ion-icon name="close" (click)='closeFilters()'></ion-icon>
        <ion-title>{{ "FILTER_TASKS" | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="refresh" (click)='clearFilters()'></ion-icon>
            <ion-button (click)="clearFilters()">{{ "Reestablecer" | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full">
        <ion-item>
            <ion-label>
                <h2>{{ 'Caso' | translate }}</h2>
                <ion-row>
                    <ion-chip outline color="primary" (click)="presentAlertFilterValue('CASE_HIGHER', 'gte', 'Mayor a')" [class.selectedFilter]="isExistInFilter('CASE_HIGHER')">
                        <ion-label>{{ 'Mayor a' | translate }}  {{getTaskFilterObject('CASE_HIGHER')?.dsValue}}</ion-label>
                    </ion-chip>
                    <ion-chip outline color="primary" (click)="presentAlertFilterValue('CASE_LESS_OR_EQUAL', 'lt', 'Menor igual a')" [class.selectedFilter]="isExistInFilter('CASE_LESS_OR_EQUAL')">
                        <ion-label>{{ 'Menor igual a' | translate }} {{getTaskFilterObject('CASE_LESS_OR_EQUAL')?.dsValue}}</ion-label>
                    </ion-chip>
                </ion-row>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ 'Proceso' | translate }}</h2>
                <ion-chip outline color="primary" (click)="presentAlertFilterValue('PROCESS')" [class.selectedFilter]="isExistInFilter('PROCESS')">
                    <ion-label>{{ 'Contiene' | translate }} {{getTaskFilterObject('PROCESS')?.dsValue}}</ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ 'Descripción' | translate }}</h2>
                <ion-chip outline color="primary" (click)="presentAlertFilterValue('DESCRIPTION')" [class.selectedFilter]="isExistInFilter('DESCRIPTION')">
                    <ion-label>{{ 'Contiene' | translate }}  {{getTaskFilterObject('DESCRIPTION')?.dsValue}}</ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ 'Actividad' | translate }}</h2>
                <ion-chip outline color="primary" (click)="presentAlertFilterValue('ACTIVITY')" [class.selectedFilter]="isExistInFilter('ACTIVITY')">
                    <ion-label>{{ 'Contiene' | translate }}  {{getTaskFilterObject('ACTIVITY')?.dsValue}}</ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ 'Responsable' | translate }}</h2>
                <ion-chip outline color="primary" (click)="presentAlertFilterValue('RESPONSIBLE')" [class.selectedFilter]="isExistInFilter('RESPONSIBLE')">
                    <ion-label>{{ 'Contiene' | translate }}  {{getTaskFilterObject('RESPONSIBLE')?.dsValue}}</ion-label>
                </ion-chip>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-grid>
                <h2 class="text-grid">{{ 'Inicio' | translate }}</h2>
                <ion-row>
                    <ion-col col-12 class="execution-date">
                        <ion-chip outline color="primary" *ngFor="let dtFilter of lsDateFilterIds; let index = index" (click)="changeFiltersDate(dtFilter, 'executionDate')" [class.selectedFilter]="getTaskFilterObject(dtFilter, 'executionDate')?.dsValue">
                            <ion-label>{{lsDateFilterName[index] | translate}}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="executionDate.from">
                            <ion-label class="label-data-time">{{ 'Desde' | translate }}
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "executionDate.from"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(executionDate.from, 'executionDate','FROM_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="executionDate.to">
                            <ion-label class="label-data-time">{{ 'Hasta' | translate }}
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "executionDate.to"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(executionDate.to, 'executionDate','TO_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="executionDate.equal">
                            <ion-label class="label-data-time">{{ 'Igual' | translate }}
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "executionDate.equal"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(executionDate.equal, 'executionDate','EQUAL_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip> 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <h2 class="text-grid">{{ 'Vencimiento' | translate }}</h2>
                <ion-row>
                    <ion-col col-12 class="expiration-date">
                        <ion-chip outline color="primary" *ngFor="let dtFilter of lsDateFilterIds; let index = index" (click)="changeFiltersDate(dtFilter, 'expiredDate')" [class.selectedFilter]="getTaskFilterObject(dtFilter,'expiredDate')?.dsValue">
                            <ion-label>{{lsDateFilterName[index] | translate}}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="expirationDate.from">
                            <ion-label class="label-data-time">{{ 'Desde' | translate }}
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "expirationDate.from"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(expirationDate.from,'expiredDate','FROM_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="expirationDate.to">
                            <ion-label class="label-data-time">{{ 'Hasta' | translate }} 
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "expirationDate.to"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(expirationDate.to, 'expiredDate','TO_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" [class.selectedFilter]="expirationDate.equal">
                            <ion-label class="label-data-time">{{ 'Igual' | translate }}
                                <ion-datetime class="date-time"
                                displayFormat="DD/MM/YYYY"
                                [(ngModel)] = "expirationDate.equal"
                                done-text="Filtrar"
                                cancel-text="Cancelar"
                                (ionChange)="setFilterDateTime(expirationDate.equal, 'expiredDate','EQUAL_DATE')"
                                ></ion-datetime>
                            </ion-label>
                        </ion-chip> 
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <h2 class="text-grid">{{ 'Prioridad' | translate }}</h2>
                <ion-row>
                    <ion-col>
                        <ion-chip outline color="primary" (click)="changeFiltersPriority(0)" [class.selectedFilter]="lsPriorityFilters.includes(0)">
                            <ion-icon name="arrow-up-outline" color="urgent-priority"></ion-icon>
                            <ion-label>{{ "Urgente" | translate }}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersPriority(1)" [class.selectedFilter]="lsPriorityFilters.includes(1)">
                            <ion-icon name="arrow-up-outline" color="high-priority" class="rotate"></ion-icon>
                            <ion-label>{{ "Alta" | translate }}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersPriority(2)" [class.selectedFilter]="lsPriorityFilters.includes(2)">
                            <ion-icon name="arrow-forward-outline" color="medium-priority"></ion-icon>
                            <ion-label>{{ "Media" | translate }}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersPriority(3)" [class.selectedFilter]="lsPriorityFilters.includes(3)">
                            <ion-icon name="arrow-down-outline" color="low-priority"></ion-icon>
                            <ion-label>{{ "Baja" | translate }}</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item>
            <ion-grid>
                <h2 class="text-grid">{{ 'Alerta' | translate }}</h2>
                <ion-row>
                    <ion-col>
                        <ion-chip outline color="primary" (click)="changeFiltersAlert(3)" [class.selectedFilter]="lsAlertFilters.includes(3)">
                            <ion-icon name="time-outline" color="expired-alert"></ion-icon>
                            <ion-label>{{ "Vencida" | translate }}</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersAlert(2)" [class.selectedFilter]="lsAlertFilters.includes(2)">
                            <ion-icon name="time-outline" color="short-term-alert"></ion-icon>
                            <ion-label>{{ "A Vencer" | translate }}</ion-label>
                            <ion-label>({{ "corto Plazo" | translate }})</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersAlert(1)" [class.selectedFilter]="lsAlertFilters.includes(1)">
                            <ion-icon name="time-outline" color="long-term-alert"></ion-icon>
                            <ion-label>{{ "A Vencer" | translate }}</ion-label>
                            <ion-label>({{ "largo Plazo" | translate }})</ion-label>
                        </ion-chip>
                        <ion-chip outline color="primary" (click)="changeFiltersAlert(0)" [class.selectedFilter]="lsAlertFilters.includes(0)">
                            <ion-icon name="time-outline" color="not-defined-alert"></ion-icon>
                            <ion-label>{{ "Sin Definir" | translate }}</ion-label>
                        </ion-chip>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="applyFilters()"> {{ "Aplicar" | translate}}</ion-button>
</ion-content>
