ion-header {
	ion-toolbar {
		padding-left: 0.8125rem;
		padding-right: 0.8125rem;
	}

	ion-button{
		text-transform: none;
		font-size: 0.875rem;
	}

	ion-icon{
		font-size: 1.5rem;
	}
	
	ion-title {
		font-size: 1.25rem;
		color: var(--ion-color-grey-6);
		letter-spacing: 0.016rem;
		line-height: 1.5rem;
	}
}

ion-content {
	ion-list{
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	ion-item {
		ion-grid{
			margin-bottom: 1.25rem;
		}

		ion-col{
			padding: 0;
		}

		ion-label{
			margin-bottom: 1.25rem;
		}

		.label-data-time{
			display: inline-flex;
			.date-time{
				padding: 0 0 0 0.125rem;
			}
		}
		
		ion-chip{
			background: #F3F4F4 0% 0% no-repeat padding-box;
			border: 1px solid var(--ion-color-secondary);
			border-radius: 0.313rem;
			opacity: 1;
			max-width: 90%;

			ion-label{
				font-size: 0.875rem;
				color: var(--ion-color-grey-6);
				margin-bottom: 0rem;
			}

			.rotate{
				transform: rotate(25deg);
			}
		}

		.selectedFilter{
			background-color: var(--ion-color-primary);

			ion-label{
				color: white;
			}

			.label-data-time{
				padding-top: 0.125rem;
			}
		}
		
		h2{
			font-weight: bold;
			font-size: 1rem;
			margin: 0;
		}

		.text-grid{
			margin-top: 0.313rem;
		}
	}

	ion-button {
		padding-left: 0.8125rem;
		padding-right: 0.8125rem;
		margin-top: 0.625rem;
		margin-bottom: 1.25rem;
	}
}

.ios ion-toolbar {
    ion-title{
        padding-inline-start: 2.438rem !important;
    }
    ion-icon{
        vertical-align: middle;
    }
    ion-button{
        --color: var(--ion-color-grey-6);
    }
}